[2019-03-09 14:45] GitSquared commented on #446
Turns out the `file-icons-match.js` generated script was the one causing problems. This 1mb one-liner is too much for Windows to handle, apparently.

[2019-03-09 14:46] #446 closed

[2019-03-11 02:02] Xeddius opened #456 "Feature Request: Optional LCARS theme."
There is an open-source LCARS-SDK on github located [Here](https://github.com/Aricwithana/LCARS-SDK).
It would be amazing to see this implemented as this would make for a fun and usable LCARS terminal for the many Trek fans out there! Understandably this could take quite some time to do, but all of the specifications are in the LCARS-SDK and there are vector assets which should make it simple to s

[2019-03-11 10:51] GitSquared commented on #456
I actually didn't know about LCARS since I'm not much of a Star Trek fan. It's pretty rad, and the SDK you linked looks pretty complete.

However, I think it differs too much from eDEX to be included in this project: implementing an LCARS theme would be a hell of a lot of work and require a solid bit of research, and making it optional would bloat the software for users not interested in it - as w

[2019-03-11 12:27] BNWEIN commented on #446
Just to confirm version 2.1.0 does not fix the issue. Also to confirm the issue is not only related to the ROOT of the drive.

As as soon as you browse to another folder (for example simply typing "cd .."  you get error above the file system tracking that says "Filesystem- Tracking failed, running detached from TTY"

[2019-03-11 13:14] GitSquared commented on #446
@BNWEIN Wrong issue, you're refering to #443, which has been fixed but as said in that thread the fix has not been released yet.

The "no tracking" mode is expected behavior on Windows.

[2019-03-11 13:26] BNWEIN commented on #446
Is there a plan to keep tracking mode on Windows?

Ben Weinberg
Operations Director
Tel020 7443 5618
Mob07515 482 580
EmailBWeinberg@prime-networks.co.uk
www.prime-networks.co.uk
Kingsway House, 103 Kingsway, London, WC2B 6QX
This message is intended exclusively for the individuals to whom it is addressed and may contain information that is privileged, or confidential.
​If you are not the addresse

[2019-03-11 13:43] GitSquared commented on #446
@BNWEIN I'm still looking into it but so far I believe it is technically impossible. Windows lacks a way to track working directories of child processes.

[2019-03-16 15:11] clragon commented on #433
Okay this is epic.

I really love how you take your time to fix every issue, I just hope I dont annoy you when opening so many everytime I check on the project.

[2019-03-16 15:18] GitSquared commented on #433
@clragon I'm glad you do actually. Your reports have helped the project a lot already. Keep it up my man. :v:

[2019-03-16 15:47] clragon commented on #330
This issue is still happening to me to this day.

Pressing the ALTGR key will highlight the CTRL (which won't go back to normal until I press it manually)
Happens on a german (swiss) keyboard layout.

[2019-03-16 16:22] jemd15 commented on #330
Yes, still happen on Spanish layout.

[2019-03-17 09:52] #456 closed

[2019-03-17 09:54] GitSquared commented on #330
@clragon Issue is fixed for me. What OS are you using?

[2019-03-17 09:56] clragon commented on #330
Windows 10, 1809 Build 17763.379
as always.

[2019-03-17 10:09] GitSquared commented on #330
OK, I'll check it out.

[2019-03-17 11:00] presianbg opened #460 "[Linux] Network module shows offline all the time"
Hi,

Great project.
The network module seems to not working in Solus Linux. It shows "OFFLINE" all the time.
Detected NICs are correct  + ping to 1.1.1.1 is OK.
Changing the LAN to WLAN and the address for test is not giving any different results.
My public IPv4 address is blinking.

Is there a way to debug and troubleshoot this issue? I'm running it from AppImage.

[2019-03-17 11:26] GitSquared commented on #460
Could you give me a list of your NICs?
Do you think you could have any latency issues reaching `https://ipinfo.now.sh`?
Do the 3D globe and network traffic monitor work or are they blinking/displaying "offline"?

[2019-03-17 11:31] presianbg commented on #460
[code]
[code]
3D glove and network traffic monitor are showing OFFLINE too.

[2019-03-17 15:20] GitSquared commented on #460
The part of `netstat` that loops through NICs to try to find the correct one will return the loopback interface if it hasn't found anything better.
If after selecting a network interface, its IP address matches localhost, the code concludes that no externally connected interface was found, and so flags the system as offline.

There should be a tiny text in the top right corner of the netstat modul

[2019-03-17 15:32] presianbg commented on #460
![image](https://user-images.githubusercontent.com/2163486/54493583-74bb1980-48da-11e9-834f-20c307241e2e.png)

[code]

[2019-03-17 15:41] GitSquared opened #461 "[HardwareInspector] Trim manufacturer and model name"
Module often breaks in two lines because of the included data being too long.

[2019-03-17 15:42] GitSquared opened #462 "[Keyboard] Replace arrow emojis by icon assets"

[2019-03-17 15:51] GitSquared commented on #460
Seems like you got multiple addresses linked to that interface, and I'm not quite sure how the JS code is handling that.

Try opening the dev tools in eDEX (`Ctrl+Maj+I`), clicking on the "console" tab and running this:
`window.si.networkInterfaces(d => console.log(JSON.stringify(d, 0, " ")))`

Copy/paste the JSON output here please. Also, it would be helpful if you could run it a few times and ch

[2019-03-17 16:16] presianbg commented on #460
Hi,

The output is consistent:
[code]

[2019-03-17 16:41] GitSquared commented on #460
Okay, all good so far.

Can you give me the output of the following command in eDEX's dev console?
[code]

[2019-03-17 17:21] #461 closed

[2019-03-17 18:17] #462 closed

[2019-03-17 18:30] GitSquared commented on #330
Reproduced :heavy_check_mark:

[2019-03-17 18:39] GitSquared commented on #330
This should do it.

[2019-03-17 18:41] #330 closed

[2019-03-17 19:48] presianbg commented on #460
@GitSquared, thanks for your time and effort for solving this.

It looks right to me:

[code]

[2019-03-17 20:09] GitSquared commented on #460
Indeed. I'm going to continue investigating this tomorrow, hopefully i'll have something for you.

[2019-03-18 08:40] masivi opened #463 "Colors in terminal"
*The following (lightweight) template is made to better understand your view and what you think about your request. You are free to ignore it, but are encouraged to complete it.
We've seen lots of feature requests on this project, some were perhaps [too ambitious](https://github.com/GitSquared/edex-ui/issues/456) and some were [literally implemented overnight](https://github.com/GitSquared/edex-ui

[2019-03-18 14:22] GitSquared commented on #463
Terminal colors can be defined on a per-theme basis. Some included themes like chalkboard and nord have terminal colors enabled.

See [this issue comment](https://github.com/GitSquared/edex-ui/issues/287#issuecomment-441426617) for more information on how to add term colors to a theme :)

[2019-03-18 14:22] #463 closed

[2019-03-19 08:44] Xeddius opened #464 "Alignment issue + Feature Reqeust/Ideas"
**Using version:**
 - [ ] `master` (running from GitHub-published source code)
 - [x] `latest` (latest release, currently `v2.0.1`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what's up, I could help you run some commands or check

[2019-03-19 17:52] GitSquared commented on #464
I can't reproduce the bottom-border issue you're having with the terminal, looks fine on my system (both in latest release and latest source versions):
![image](https://user-images.githubusercontent.com/24496417/54629557-1deb4680-4a78-11e9-9b0a-85d40c99ec3c.png)

[2019-03-19 17:56] GitSquared commented on #464
The slanted edges on terminal tabs are definitely sexy, thanks for suggesting that. I'll look into making something like it.

---

Regarding the ability to customize, move, and create modules, this is all on roadmap, see #334

---

And finally, regarding custom image borders, you can actually already do it using the `injectCSS` property of themes, [CSS border images](https://developer.mozilla.org/

[2019-03-19 18:15] GitSquared commented on #460
@presianbg Could you try this [test version](https://send.firefox.com/download/e6bf185e1f/#RhcYaEgNbXdoGAoeMEqcnQ)? I'm exactly sure it will fix the problem but doesn't hurt to try.

[2019-03-20 03:14] Xeddius commented on #464
My screen resolution is 1600x900, and awesome! I'll look into that!

[2019-03-20 08:10] presianbg commented on #460
![image](https://user-images.githubusercontent.com/2163486/54668721-3c912200-4af8-11e9-8181-945e1975d2bf.png)
Same result + the file system widget is stuck on "Calculating Available Space..."

[2019-03-20 22:36] pabit opened #465 "Can You explain?"
![Selection_048](https://user-images.githubusercontent.com/15835569/54723766-f4f6ae80-4b68-11e9-8187-63f4645cfe24.png)

[2019-03-21 05:57] GitSquared commented on #465
Must be a false positive...?
Check on VirusTotal or something else to see how many antivirus software report this.

I believe no security issue of this importance has been found in eDEX's dependencies since the last release, and I'm monitoring those actively, so it can't come from there. The code itself is of course open-source and if you don't trust the pre-packaged binaries you can build them yo

[2019-03-21 11:13] masivi opened #466 "Not working special leters in es-LAT Layout"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-pu

[2019-03-21 18:05] JaroslawPokropinski commented on #224
Hey, I think that I solved this using windows-tlist dependency from tlist. It doesnt work with powershell but works with cmd just fine (powershell doesnt actualy change cwd with cd command). Should I make an pull request?

[2019-03-21 18:11] masivi opened #467 "No icon down key"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 - [X] `master` (running from GitHub-pu

[2019-03-21 18:18] masivi commented on #466
I don't know if this helps, but 4 keys are wrong in Spanish layout.

The correct must be (changes in bold):

   {
      **"name": "`",
      "cmd": "`",
      "shift_name": "^",
      "shift_cmd": "^",
      "alt_name": "["
      "alt_cmd": "["**
      "ctrl_cmd": "~~~CTRLSEQ1~~~"
    },
    {
      "name": "+",
      "cmd": "+",
      "shift_name": "*",
      "shift_cmd": "*",
      **"alt_name":

[2019-03-21 18:47] masivi commented on #466
I tried to change the .json but it not work (edex not load)

[2019-03-21 20:37] GitSquared commented on #224
@JaroslawPokropinski Sure, go ahead! I'll definetly look into it.

[2019-03-21 20:40] GitSquared commented on #460
Seems like a case of #446 on linux too... Well that one at least will be easy to fix. Gonna have to try something else to fix your original issue though. Hang tight!..

[2019-03-21 20:42] GitSquared commented on #466
I'll check this tomorrow, but in the meantime, maybe it fails to load because of unescaped `"` characters in the json?

I think there are some lines in your fix where you'll need to escape those like so: `"shift_name": "\"",`

[2019-03-21 20:46] GitSquared commented on #467
Made a naming error when writing keyboard icons handling. Thanks for spotting that!

[2019-03-21 20:47] #467 closed

[2019-03-21 20:54] GitSquared commented on #465
https://www.virustotal.com/#/file/b46093d3f712d2288ea8034e586e6479984016b005f728431caa8986ac7df5d3/detection

I think it's all good. Feel free to reopen if you have any further questions.

[2019-03-21 20:54] #465 closed

[2019-03-22 06:23] masivi commented on #466
Yes, you're right!
But the problem persists... when you push a special key (acute accent, for example, the key next to the ñ) the sistem does not print anything. It is waiting for another key, like the "a" key and when you press it, the system prints the accented a "á". In edex when you push acute accent special key the system does not print anything (what is right) but when you push the second ke

[2019-03-22 14:27] GitSquared commented on #460
@presianbg [How about this one?](https://send.firefox.com/download/60178b2ba8/#INyM1kYXhCgqUW4nzZjCOg)

[2019-03-22 14:38] presianbg commented on #460
Works flawlessly :) Thanks!

[2019-03-22 14:47] GitSquared commented on #460
Great! So here's what's going on: After the geoip API call, there's another test that tries to determine the latency (ping) of your connection. It's using external software utilities and because of that, doesn't necessarily run on the NIC selected by eDEX.

Your screen probably shows `--ms` as ping, right? That's why.

In the build I just sent you, I just commented out the line that triggered the

[2019-03-22 15:29] presianbg commented on #460
Yes, this is correct.

You may try using something like that:
[code]

[2019-03-22 15:37] GitSquared commented on #466
So, I fixed the issue with the special ("dead") keys not working.

I also figured out you were expecting the [Spanish (es-ES)](https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/KB_Spanish.svg/1280px-KB_Spanish.svg.png) keyboard, while only the [Latin-American Spanish (es-LAT)](https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/KB_Latin_American.svg/1280px-KB_Latin_American.svg.png)

[2019-03-22 15:37] #466 closed

[2019-03-22 16:11] GitSquared commented on #464
@Xeddius How did you make those awesome slanted tabs? I tried some stuff with CSS transforms, backgrounds, and border hacks but couldn't get anything good lol.

[2019-03-22 17:12] #460 closed

[2019-03-22 17:50] masivi commented on #466
Thank's friend!

[2019-03-22 17:54] masivi commented on #466
Ouch! same problem :(
The layout is correct in screen, but if you push the ' key and then a "a" key (or some other) no "á" is shown, only "a" :'(

[2019-03-23 10:00] GitSquared commented on #466
Oops... What key exactly? Everything seems to be working for me:

![Peek 2019-03-23 11-00](https://user-images.githubusercontent.com/24496417/54864683-dc4dea80-4d5a-11e9-820c-3ab215bae61e.gif)

[2019-03-23 12:25] masivi commented on #466
Ok, the virtual keyboard works fine. The problem is the phisical one. I attach you a video where you can see the behavior in a gnome-terminal first, then in edex with phisical keyboard and then in edex with virtual keyboard. Thank's again!!!!
[video.zip](https://github.com/GitSquared/edex-ui/files/2999332/video.zip)

[2019-03-23 13:43] GitSquared opened #469 "Physical keyboard dead keys don't work"
## Technical information
**Using version:**
 - [X] `master` (running from GitHub-published source code, currently `v2.2.0-pre`)
 - [X] `latest` (latest release, currently `v2.1.0`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [X] Linux
 - [?] Windows
 - [?] macOS
---

Using dead keys to compose accentuated characters with a physical keyboard doesn't work. Reported on Linux by me and

[2019-03-23 13:43] GitSquared commented on #466
Oh, OK, I get it now. Opened a new issue for this: #469

[2019-03-25 03:53] Xeddius commented on #464
I made the slanted tabs in gimp actually. I'll experiment and see if I can create it with css.

[2019-03-25 12:40] YanzheL opened #472 "[macOS]environment variables in second shell are different from main shell"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-pu

[2019-03-25 12:58] YanzheL commented on #472
Directly run from source on macOS uses:
[code]
solves this issue.

But if I build target from source on macOS, and run eDEX-UI.app, this issue still exist.
[code]

[2019-03-26 17:29] #472 closed

[2019-03-26 17:30] GitSquared commented on #472
Found & fixed on `master`. Thanks for reporting this!

[2019-04-01 15:47] xelarate86 opened #478 "High memory usage"
## Technical information
**Using version:**
 - [X] `master` (running from GitHub-published source code, currently `v2.2.0-pre`)
 - [ ] `latest` (latest release, currently `v2.1.0`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [X] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [X] I know what'

[2019-04-02 22:37] xelarate86 commented on #478
Upon rebuilding it's down to a fluctuation between ~200 and ~400 MB. Probably just a transient issue I created by messing up somewhere along the way, or something with my environment. Testing on another system too and no issues.

[2019-04-02 22:37] #478 closed

[2019-04-03 12:01] GitSquared commented on #478
Glad to hear that. Thanks for confirming this.

[2019-04-06 03:03] DrCuriosity commented on #404
I'm seeing this error on a 4-core, Windows 8.1 machine. It gets as far as bringing up the keyboard and the "welcome back", then dies every time with the same error message.

Any thoughts on why that might be happening, or how I could look for info to track down the issue?

[2019-04-06 05:56] GitSquared commented on #404
@DrCuriosity Could you launch eDEX from a cmd/powershell terminal and copy/paste the error message printed in the term here?

[2019-04-07 11:56] vzool opened #479 "Hide keyboard and show Current working directory"
Hi, How to hide keyboard and show **current working directory** instead?

Thanks

[2019-04-07 12:10] GitSquared commented on #479
Use the `tron-notype` theme (remember you can access the settings with `Ctrl+Shift+S`) :^)

[2019-04-07 12:10] #479 closed

[2019-04-07 12:15] vzool commented on #479
Yes, I tried that. But, current working directory still never shown:

![Screenshot from 2019-04-07 15-11-02](https://user-images.githubusercontent.com/4952736/55683391-e4f01480-5947-11e9-907f-1115598c8998.png)

My screen is 19" with resolution **1280x1024 (5:4)**

Thanks

[2019-04-07 12:23] GitSquared commented on #479
Oh, right. The filesystem display is disabled on 5:4 monitors by default. Try using this theme: [tron-notype-responsive.json](https://gist.github.com/GitSquared/cd80852833bd04b68349c075734f54b8/raw/e02bddbeef29f7e072f46a22cc5095a42e278387/tron-notype-responsive.json)

[2019-04-07 12:27] DrCuriosity commented on #404
Okay. Error from the terminal is:
[code]
Further error in the npm-cache log shows the following stack trace:
[code]

[2019-04-07 12:34] vzool commented on #479
Great, directory view appears now. Cool
But, **Copy and Paste** does not work? :(

[2019-04-07 12:43] GitSquared commented on #479
How are you trying to copy/paste? You should use the `Ctrl+Shift+C`/`Ctrl+Shift+V` keyboard shortcuts.

[2019-04-07 12:46] vzool commented on #479
Yes, I can copy from the terminal but I can't paste anything to it.

[2019-04-07 12:59] GitSquared commented on #479
Do you get any error messages in the console (`Ctrl+Shift+I`)? It's weird that copying works but pasting doesn't.

[2019-04-07 13:06] vzool commented on #479
Yes, actually I catch two errors while I'm testing.

### Error no 1:

[code]

### Error no 2:

BTW, application is view turns into a complete black screen from end to end after sometime. So, I made another screenshot for that:

![Screenshot from 2019-04-07 15-57-16](https://user-images.githubusercontent.com/4952736/55683928-153ab180-594e-11e9-825b-38e7220edef2.png)

I'm not sure why it always disc

[2019-04-07 13:19] GitSquared commented on #479
Woa, this is kind of messy. What OS are you running on? Would you be able to try the app directly from the source code?

[2019-04-07 13:46] vzool commented on #479
Yes, it looks like that

I'm using **OpenSUSE Tumbleweed**:
[code]

Yes, I can. From the source code I can copy and paste just fine. I guess all that errors was resolved from source code and the application looks more stable.

[2019-04-07 13:49] GitSquared commented on #479
That's good news. I'm not going to release a new version just yet, so I'll suggest you build the latest source and use that instead of the `v2.1` package.

If you're having trouble building it yourself, I can send you a pre-made `AppImage` package, just tell me.

[2019-04-07 13:59] vzool commented on #479
### I can't build it

[code]
### Here is the log file:

[code]

[2019-04-07 14:01] GitSquared commented on #479
No worries, [use this one :)](https://send.firefox.com/download/ae5d2526a5995055/#HIR5r6ICc3V_nsCRwJC_Ng)

[2019-04-07 20:51] GrapeSodas opened #480 "How do I make 'allow incoming connections' alert go away? (mac)"
I allow the app to make incoming connections every time I start it up and i still get the alert every time. I even made sure to add it into my firewall settings. Is there an issue with the signature?

[2019-04-07 21:38] GitSquared commented on #480
I've never seen this alert. What version of macOS are you using? Could you get me a screenshot?

[2019-04-07 21:40] GrapeSodas commented on #480
![Screen Shot 2019-04-07 at 2 39 04 PM](https://user-images.githubusercontent.com/34319104/55690200-0c90ae00-5943-11e9-9074-160ed9b60255.jpg)

[2019-04-08 05:35] vzool commented on #479
Great, Thanks. :)
But keys like "**Home**" and "**End**" not working as they should be in other terminals. I thought that I could move text cursor from start to end ?

[2019-04-08 05:53] GitSquared commented on #479
This is not implemented in the terminal emulator eDEX uses. I'll look into it.

[2019-04-08 06:23] GitSquared commented on #480
If you haven't tried it yet, try manually adding eDEX in the macOS firewall settings.

eDEX builds are unsigned ([here's why](https://squared.codebrew.fr/posts/code-signing/)), which as you've pointed out might be triggering this behavior from the OS, although that's the first time I've heard about it.

[2019-04-08 19:59] GrapeSodas commented on #480
Yeah I've tried manually adding the app into my firewall settings and the message still pops up. I suppose it's not that big of a deal, it's just a little annoying.

[2019-04-08 20:13] GitSquared commented on #480
I'm sorry that you have to deal with this. Unfortunately there's little I can do... Perhaps someday I'll invest in a developer certificate, which is clearly what Apple are pushing me to do - they are not the only ones, this kind of questionable practices have become industry standard for platform providers, sadly.

Thanks for reporting this.

[2019-04-08 20:13] #480 closed

[2019-04-09 20:39] Xeddius commented on #464
I managed to make a slanted tab with css. It's not exactly beautiful, but it does seem to work, tweaking the edge width can result in some nice results.
![Tab](https://user-images.githubusercontent.com/6382895/55833519-b7d96880-5ae5-11e9-97bc-af2ce5f11a4a.png)

### CSS:
[code]
### HTML:
`<div class="div"><div class="tab"><div class="text">Tab1</div></div></div>`

[2019-04-09 20:57] Xeddius opened #481 "Module/Idea Suggestion List."
**Perceived idea awesomeness**
<details><summary>Wow, you don't have this yet???</summary>
Web Browser Module,
Background Module,
Media Module/s,
Security/Lock Module.
</details>
<details><summary>Would be super cool.</summary>
Temperature Module,
Volume Control Module.
VNC Module,
Custom Text/Matrix Module.
</details>
<details><summary>I'm not sure a lot of people would use it, but I'd love to ha

[2019-04-09 21:23] GitSquared commented on #481
Disk activity is something that I'm ready to implement on *nix systems, but I'm waiting on some compatibility improvements upstream so it can also work reliably on Windows. I fully agree that this is a must-have missing feature!

Regarding disk space, there's already the mountpoint usage indicator below the filesystem display. Do you think it would be nice to also have an indicator for total physi

[2019-04-11 11:35] 4goettma commented on #394
What's about adding an option to disable the visual highlighting on the screen keyboard while pressing physical keys?

[2019-04-11 16:28] GitSquared commented on #464
@Xeddius that's really cool, thanks. I was wishing we could go without adding DOM nodes but I guess that's not possible. I'll play around with this a bit.

[2019-04-11 16:35] GitSquared commented on #394
@4goettma I'm not really keen on that, might as well wait for the upcoming modular update and just remove the on-screen keyboard.

It might work as a keyboard shortcut rather than an option, though...
Like, press shortcut to disable visual feedback, type your password, press shortcut to enable it back again.
Could even add a nifty little warning message below the shell that would get triggered whe

[2019-04-11 18:40] 4goettma commented on #394
Sounds good - exactly what we need. But there might be people who never want to see the visual feedback, so an option in the settings file would be still useful.

[2019-04-11 19:13] GitSquared commented on #394
I'm not so sure that there would be that much people wanting to keep a half-functioning touchscreen keyboard. Imo either you've got a physical one and you might as well just remove it from your screen, or you're on a touch display and need the visual feedback.

[2019-04-12 18:47] 4goettma commented on #394
What's about tablets like the Microsoft Surface which has an additional keyboard or using a bluetooth keyboard for a tablet?

[2019-04-13 02:58] Xeddius commented on #481
That would indeed be nice. Would be cool to have an icon with either a circle, line, or chart next to it. A setting to specify a mount-point would be interesting as well so you can see how much space is on flash-drives, etc.

[2019-04-13 07:15] GitSquared commented on #481
I'll look into it. Regarding mount-point usage, the indicator follows the mountpoint of the current CWD, so you can `cd` into your flash drive to see how much space is remaining ;).

[2019-04-17 08:43] GitSquared commented on #394
Well, they have a physical keyboard plugged in then.

[2019-04-18 02:00] jennasisis opened #483 "Make terminal colored again!"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [ ] Would be super cool.
- [x] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [x] Shouldn't be too hard to make.
- [ ] Like, *I* could do it **(Possi

[2019-04-18 08:49] 4goettma commented on #394
Thought about switching between using the keyboard and removing it. But I don't mind, I don't own one. As stated before, a hotkey for disabling it would be nice to have.

[2019-04-18 12:05] GitSquared commented on #394
I'll implement this before the next release.

[2019-04-18 12:19] Xeddius commented on #483
This could definitely be useful for more colorful themes in the future, perhaps options to dynamically color themes can be added as well? (Like a slow color change/fade!) different colors per module would also be neat.

[2019-04-18 15:56] GitSquared commented on #394
![Peek 2019-04-18 17-52](https://user-images.githubusercontent.com/24496417/56374153-cc62e280-6202-11e9-9ad2-6721fa09b38a.gif)

Here it is. Hitting Ctrl+Shift+P (either through physical or virtual keyboards, as with all shortcuts) will toggle a special "password mode" where the on-screen keyboard is greyed out and doesn't give any visual input feedback.
It still works though, so hitting modifiers

[2019-04-18 16:19] GitSquared commented on #483
So far every visual setting and tweak is handled by themes (except font size, because it's something that you want to be able to change on-the-fly); I don't want to break that rule so eventual terminal color filters would have to be defined in a theme file.
I'm thinking about how we could use JSON strings to represent a full chain of [color](https://www.npmjs.com/package/color) functions, for even

[2019-04-18 16:50] #464 closed

[2019-04-18 16:50] GitSquared commented on #464
![Peek 2019-04-18 18-46](https://user-images.githubusercontent.com/24496417/56377308-7003c100-620a-11e9-971f-e2c798620d70.gif)

:sunglasses:

[2019-04-18 16:56] GitSquared commented on #464
(fixed that little bug on the 2nd tab)

[2019-04-18 17:20] GitSquared commented on #481
@Xeddius Wow, you added a lot of things here since the last time I read this thread.

Here's some feedback:
- Web Browser module: While we do have Chromium's web engine at our disposal, implementing an actual web browser is a ton of work, a ton of code, and lots of things can go wrong. I recommend using CLI web browsers like `links` or `browsh`, and if you want Netflix, open up a real full-feature

[2019-04-18 17:30] GitSquared commented on #481
Also, regarding this:

I've had some dude who bought a 22" touchscreen and a tiny Intel NUC reach out to me over Discord to make a custom, ultra-lightweight Debian install that would just run eDEX at startup, directly over X.org. We struggled a bit but I have some scripts and workarounds if you ever want to attempt this kind of thing.
On a "real" computer however, you'll indeed probably want to ha

[2019-04-18 20:49] Xeddius commented on #481
^_^ I would most definitely like the scripts and workarounds. (might be able to do something with a Raspberry pi 3 or Rock64). Would it be possible to make a lock for eDEX-UI itself? (instead of a system-wide lock). A text module could tail log files or display a continuously scrolling stream of text from a file for the scifi/hacker aesthetic.
![animated](https://user-images.githubusercontent.com/

[2019-04-20 12:23] jennasisis commented on #483
That would be interesting, what would that look like?

[2019-04-21 08:35] GitSquared commented on #483
@jennasisis Something like this:

[code]

[2019-04-22 19:26] Xeddius commented on #464
It's glorious! :D I can't wait to test it out!

[2019-04-22 19:43] Xeddius opened #486 "File Browser fails when cd into home directory."
When I cd into my home folder the file browser stops functioning, it does not resume function even if I cd back into the start directory.
![Error](https://user-images.githubusercontent.com/6382895/56523299-4e118380-6515-11e9-9f07-ad84b23a8142.png)
Attempted with a fresh install, cleared all configs under .config, still no luck. Launched directly with ./ and double-clicked, same result.

The issue

[2019-04-22 23:40] jennasisis commented on #483
Oh that’s interesting, I’ll see if I can work that in and open a PR when I have the time.

[2019-04-25 14:35] unix4you2 commented on #37
Hi there.
This is not working for me with Ctrl+C Ctrl+V or the tradditional shortcuts for terminals like Shit+Ctrl+C or Shit+Ctrl+V
Regards

[2019-04-25 14:39] GitSquared commented on #37
@unix4you2 What version of eDEX are you using? This feature has been implemented for a long time now and I haven't heard of any issues with it.
The shortcuts are indeed shift+ctrl+c/v, and you can use them either with your physical keyboard or the on-screen one.

[2019-04-25 14:45] unix4you2 commented on #37
Hi @GitSquared
I'm using the last version (eDEX-UI v2.1.0) in AppImage under Elementary (an ubuntu derivated).
But i have the same problem in my office desktop (Xubuntu)

If I try to use that shortcuts under an standar terminal that works fine, but not under edex.
And when I type it under edex I can see the keys pressed in the virtual keyboard.

Thanks for your time

[2019-04-25 14:47] GitSquared commented on #37
@unix4you2 Does copying something from another window and pasting it into edex with the shortcut works?

[2019-04-25 15:07] unix4you2 commented on #37
Nop.
I tried to copy for example a simple command to install something from a web browser  "yum -y install httpd"  and try to copy that to edex using keyboard or mouse and doesnt work.

The only thing I can see different in the virtual keyboard (VK) is that:

- If you press only shift the VK shows it on
- If you press only ctrl the VK shows it on
- If you press  crtl first and then shift the VK sh

[2019-04-25 15:12] GitSquared commented on #37
The C or V not going on is because it's triggering the internal copy/paste functions instead of the regular keys.

Would you be willing to try and run edex from source to see if the issue has been resolved since v2.1? If you don't have `node` on your system, I can give you a prebuilt AppImage of the latest development version, but I'm afraid you will have to wait a bit.

[2019-04-25 15:15] unix4you2 commented on #37
Yeah, I supossed that.
The event of that keypressed is captured.  But the method that should copy or paste the clipboard content (writting to the terminal) is not working.
I dont have node here.  If you want to share another AppImage I can wait and test it.
Take your time and tell me if I can help in another way.
Regards.

[2019-04-25 15:16] GitSquared commented on #37
I will get back to you with a test build, and do some testing myself in the meantime.
Thanks for reaching out.

[2019-04-25 20:17] unix4you2 commented on #37
Hi @GitSquared  an important info:

Copy and paste using Ctrl+Shit+C from eDEX to another application works fine.
**The problem is only when you copy from another app and try to paste into eDEX using Ctrl+Shit+V.**

Regards.

[2019-04-25 20:23] unix4you2 commented on #37
Please excuse me again... too many messages I sent but I found a temporally sollution.

I already tested and in the other combination or shortcut that you can use in another terminals and editor works fine to paste:   **Shift + Insert**    So people that have the problem with  Ctrl+Shift+V  can use that shortcut instead.

Regards.

[2019-04-26 08:42] dackdel opened #487 "On-screen keyboard toggle"
*The following (lightweight) template is made to better understand your view and what you think about your request. You are free to ignore it, but are encouraged to complete it.
We've seen lots of feature requests on this project, some were perhaps [too ambitious](https://github.com/GitSquared/edex-ui/issues/456) and some were [literally implemented overnight](https://github.com/GitSquared/edex-ui

[2019-04-26 08:48] GitSquared commented on #37
@unix4you2 Interesting. Internally eDEX uses [clipboardy](https://www.npmjs.com/package/clipboardy) to retrieve the system's clipboard content. Maybe that dependency is failing on Elementary..?

I use Debian myself and haven't had any issue with it, but maybe there is an additional package you need to install to make it work - i'm not sure. I'll look into it.

[2019-04-26 08:55] GitSquared commented on #487
Soon™ you'll be able to move, remove, and add modules on eDEX's screen - that includes the keyboard. This feature is tracked on #334.

In the meantime, you can look into the `tron-notype` included theme; it demonstrates how using the existing theming feature you can hide the keyboard and enlarge the file browser.

[2019-04-27 08:06] #487 closed

[2019-04-27 16:38] GitSquared commented on #486
Does any error pops out in the dev tools console (`Ctrl+Shift+I`)? Or perhaps in eDEX's `stdio` output, which you can see by starting it from a terminal?

[2019-04-27 16:40] GitSquared commented on #37
@unix4you2 [Here's a test build](https://send.firefox.com/download/b0d87d1cb8c8c5fd/#v1AH5f0tnvdfcsUQ4G64-A) from the latest dev branch.

[2019-04-27 23:34] unix4you2 commented on #37
Hi @GitSquared two things:

1)  I already tested the version that you shared to me.  The problem continues but Shift + Insert works again so I will use that shortcut instead.

2) I searched for the package clipboardy and doesnt exists as a packeage under ubuntu.  Should I install something more like nodejs or something to get that package in my system?   Maybe the problem is that the package requi

[2019-04-28 03:20] Egoscio-zz opened #488 "Separate frontend to run backend on remote server"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [X] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [X] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

S

[2019-04-28 03:21] Xuyu1997 opened #489 "macos cannot access show files"
Uncaught (in promise) Error: ENOENT: no such file or directory, watch '/Users/vincent/Library/ApplicationSupport/eDEX-UI'
    at FSWatcher.start (internal/fs/watchers.js:164)
    at Object.watch (fs.js:1232)
    at FilesystemDisplay.watchFS.dir [as watchFS] (filesystem.class.js:120)
    at Terminal.window.term.(anonymous function).oncwdchange.cwd [as oncwdchange] (file:///Users/vincent/workspace_s

[2019-04-28 03:45] Xuyu1997 commented on #489
This is a permission issue, command+shift+s, modify cwd to a privileged disk path.

[2019-04-28 03:45] #489 closed

[2019-04-28 09:14] GitSquared commented on #488
While eDEX's interface is indeed made with web technologies, it heavily relies on the integration with Node.js inside the renderer process allowed by Electron. That's not necessarily the "good practice" way, and completion of #334 will probably change that, but in the meantime separating the UI and the backend is a lot trickier than it sounds.

That being said, you aren't the first one to suggest

[2019-04-28 09:20] GitSquared commented on #334
I'm referencing this everywhere, so I'm going to pin the issue.

As a quick update since there haven't been any messages in this thread since November, I'm currently planning to finish the remote monitoring feature first to have a finished API to expose to eventual custom modules.

No ETA on any of this yet, but definitely still planned.

[2019-04-28 09:38] itaisteinherz commented on #334
@GitSquared Let me know when the API is ready and I'll be happy to contribute and help get this landed 🙃

[2019-04-28 09:43] GitSquared commented on #481
@Xeddius [Here's a gist](https://gist.github.com/GitSquared/036678f0281a38ddd13e5df70cd0276b) with a little autostart script for eDEX on an almost-blank Debian install, running directly on X. I'm not sure if you can directly use this yourself, but It might be a good starting point.

Making a lock for eDEX itself would be doable, but I'm seriously questioning the usefulness of such a feature - nota

[2019-04-28 12:06] GitSquared commented on #37
@unix4you2 Sorry, I wasn't clear enough; `clipboardy` is a Node dependency that is included inside eDEX, not something that you should install yourself.

I'm going to replace that component with [another API](https://electronjs.org/docs/api/clipboard), hopefully that will work better on your system. Test build incoming.

[2019-04-28 12:22] GitSquared commented on #37
@unix4you2 [This one should fix it.](https://send.firefox.com/download/8542765f50fd2624/#gbXASh9el4HI_-4jt6wUJQ)

[2019-04-28 16:03] LEON0121 opened #490 "Home-brew(package manager)"
I installed home-brew in my pc.
It applied edex-ui's main bash.
but not applied 2~5 bash.
why is it? what should I do?

(my English is not good. sorry :D)

[2019-04-28 16:30] GitSquared commented on #490
This is a known bug in the latest version - see #472.

The fix will be included in the next version (`v2.2.0`), you'll have to wait for that I'm afraid. Should be coming out soon.

[2019-04-28 16:30] #490 closed

[2019-04-29 01:27] unix4you2 commented on #37
Hi @GitSquared

I already tested the new binary you shared to me and it works like a charm.  Using the new API is working everything.

Anyway I will be using the Shift+Insert shortcut in the middle because I supose this change will be available in the next stable release, so I will wait for that.

Thanks for your time.   Best regards.

[2019-04-29 06:46] Xeddius commented on #486
No errors popped up in stdio output, but I noticed that when I tried it today (I've rebooted since the last time I used eDEX) it works now. Kind of weird. I'll keep on eye on it and if it starts doing this again I'll check the dev tools console.

[2019-04-29 06:59] Xeddius commented on #481
The lock can also double as a screensaver kind of feature. It's mainly cosmetic, and the average person who doesn't know anything about edex likely wouldn't think to open a developer console. (It's mainly just pretty and adds to the immersion.)

Just wanted to know how the background works so I could change the colors of the dots and make different backgrounds.

I'm able to run dmesg without root

[2019-04-29 07:39] Xeddius commented on #481
When changing colors of the theme the default colors of --color_grey never change with different themes and always stays a slightly blue color.

[2019-04-29 08:16] GitSquared commented on #37
@unix4you2 Glad we got this fixed. Thank you for your help, it will indeed ship in the next stable release.

[2019-04-29 08:16] GitSquared commented on #37
@unix4you2 Glad we got this fixed. Thank you for your help, it will indeed ship in the next stable release.

[2019-04-29 09:01] GitSquared commented on #486
Weird indeed. Maybe some kind of AppImage sandboxing related issue..?

@kamata1729 I noticed your reaction; did this happen to you as well?

[2019-04-29 09:41] GitSquared commented on #481
`dmesg` is root locked for me on Debian:
![image](https://user-images.githubusercontent.com/24496417/56886280-eb693c00-6a6e-11e9-920e-a43716cca101.png)

I'll look into it. Thanks for the Windows command - the idea to be able to watch any text file sounds promising.

That said, like most ideas you proposed in this thread, I feel like we should wait for the addon system to be implemented. Plus, laun

[2019-04-29 09:43] GitSquared commented on #481
(note that this is properly documented in the [Wiki](https://github.com/GitSquared/edex-ui/wiki/Themes), though.)

[2019-04-29 10:55] kamata1729 commented on #486
Maybe this problem will  be solved by changing the path of setting file, but more simply, I upgraded edex-ui to v2.1.0 (from this page https://github.com/GitSquared/edex-ui/releases/tag/v2.1.0 ) and it does correctly work!
![スクリーンショット 2019-04-29 19 54 54](https://user-images.githubusercontent.com/26928144/56891795-9d792600-6ab8-11e9-82db-9580c2501172.png)

[2019-04-29 11:50] GitSquared commented on #486
@kamata1729 OK, thanks for the info.

@Xeddius I'm going to consider this closed, as always reopen if it ever happens again.

[2019-04-29 11:50] #486 closed

[2019-04-29 16:36] GitSquared commented on #483
Implemented. I'm going to write some docs on this and push it to `master`.

Here are some examples, shown side-by-side with another terminal so you spot the color difference:

[code]
![image](https://user-images.githubusercontent.com/24496417/56910594-3ef97b00-6aab-11e9-8277-c8742310427d.png)

---

[code]
![image](https://user-images.githubusercontent.com/24496417/56911303-ecb95980-6aac-11e9-92e8-

[2019-04-29 17:00] #483 closed

[2019-04-29 20:33] jd-lara opened #492 ".bash_profile is not loaded on macOS"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v2.2.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.0`)
 - [ ] `vx.x.x` (specify other version)

**Running on:**
 - [ ] Linux
 - [ ] Windows
 - [x] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2019-04-29 20:39] GitSquared commented on #492
@jd-lara Does any part of the interface loads up or are you faced with a black screen?

[2019-04-29 20:39] jd-lara commented on #492
Nothing loads

[2019-04-29 20:42] GitSquared commented on #492
Sh*t. Do you know how to launch the app from a terminal? I'd need to check the `stdio` output.

[2019-04-29 20:45] jd-lara commented on #492
[code]

[2019-04-29 20:51] GitSquared commented on #492
Great, thanks a lot. This line is interesting:
[code]

I'm assuming your eDEX config is set to use `bash`? Could you try and point that to the full path?
 (most likely `/bin/bash`, although I'm not sure about the directory structure under macOS)

You can find the config in `~/Library/Application Support/eDEX-UI`.

[2019-04-29 20:57] jd-lara commented on #492
Same behavior here is my config file

[code]

[2019-04-29 20:59] GitSquared commented on #492
Could you try and remove the `env` key in your config? The syntax you're using there is not supported and it might be causing some troubles

[2019-04-29 21:00] jd-lara commented on #492
I just removed the whole `~/Library/Application Support/eDEX-UI` folder and it works now. It seems that the configuration won't load. How can I load my `.bash_profile`?

[2019-04-29 21:03] GitSquared commented on #492
Ok, very good news, it's just a config mishap :sweat_smile:

*Normally,* with the changes in this new release, your `.bash_profile` config should be automatically imported into eDEX without any extra steps.

Is this not working?

[2019-04-29 21:07] jd-lara commented on #492
No, nothing from my .bash_profile is loading. This is my new settings

[code]

[2019-04-29 21:14] GitSquared commented on #492
@jd-lara This is not a definitive fix, but setting your `shell` key in the config to something like `bash --login -c 'source ~/.bash_profile'` could do the trick.

[2019-04-29 21:18] jd-lara commented on #492
After making the change then the problem of not loading happens again. Even if I set it to "bash -l"

[2019-04-29 21:21] GitSquared commented on #492
Same error in `stdio`?

[2019-04-29 21:24] jd-lara commented on #492
Yes, same everything. No display and later on to quit I get the error.

[2019-04-29 21:26] GitSquared commented on #492
Weird. I'll do some testing myself tomorrow, get a patch release out if there's something to fix.

Could you send me your config with the fix I proposed, just to make sure?

[2019-04-29 21:31] jd-lara commented on #492
Tried these 2 options

[code]

[code]

[2019-04-29 21:36] GitSquared commented on #492
All right. Thanks for the report, will look into it first thing tomorrow.

[2019-04-30 08:54] GitSquared commented on #492
![image](https://user-images.githubusercontent.com/24496417/56950437-c7bcf900-6b35-11e9-8de7-017f76591ecd.png)

@jd-lara I got automatic env loading to work as expected and fixed the error you were getting. eDEX automatically appends the `--login` option to the shell command and the correct env is set.

Will release a patch for this, `v2.2.1`.

[2019-04-30 09:53] GitSquared commented on #492
[Patch is up.](https://github.com/GitSquared/edex-ui/releases/tag/v2.2.1) Thanks for your help.

[2019-04-30 09:53] #492 closed

[2019-04-30 10:00] GitSquared commented on #449
Should work flawlessly on the latest versions.

[2019-04-30 10:00] #449 closed

[2019-04-30 17:12] jd-lara commented on #492
Thanks, it works. I have one more question on loading the `.bash_profile`. I have the following lines in my profile to show my current branch in the terminal

[code]

So, my terminal looks like this

![image](https://user-images.githubusercontent.com/16385323/56980082-4020bb80-6b30-11e9-80fb-7ea4e9c1c216.png)

But this setting is not being picked up by eDEX

<img width="1696" alt="image" src="http

[2019-04-30 17:19] jd-lara opened #493 "Git commands in spanish"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-pu

[2019-04-30 20:24] GitSquared commented on #493
Is your system language set to Spanish?
Maybe setting `$LANG` to `en_US.UTF-8` would fix it.

[2019-04-30 20:25] GitSquared commented on #492
In your second screenshot, it doesn't look like you are in a Git directory...?

[2019-04-30 20:27] jd-lara commented on #492
It was an error in the `.bash_profile` sorry.

[2019-04-30 20:27] GitSquared commented on #492
OK, np.

[2019-04-30 20:27] jd-lara commented on #493
I have 2 languages in my system, but I am not sure why is picking this one up by default now.

[2019-04-30 20:29] GitSquared commented on #493
Some terminal emulators override the `LANG` env var to set the terminal to English.
eDEX doesn't do that, for various reasons.

In your `settings.json` config, you can do this:
[code]

That would override it.

[2019-04-30 20:34] jd-lara commented on #493
Thanks that fixed it

[2019-04-30 20:34] #493 closed

[2019-05-04 14:25] yanzhao77 opened #495 "On Win10, the network has been in the offline state, how to solve it?"
On Win10, the network has been in the offline state, how to solve it?
![微信图片_20190504222403](https://user-images.githubusercontent.com/43581117/57180471-6e4d2500-6ebb-11e9-9466-61923d0d479f.png)

[2019-05-04 18:26] GitSquared commented on #495
Open Settings (`Ctrl+Shift+S`) and change `iface` to the correct interface with the dropdown menu.

Should be something like `Wi-Fi` or `Ethernet`, currently you have a VirtualBox "fake" network selected - this happens sometimes when VB is installed.

When you're done hit "Save to Disk" and "Reload UI".

[2019-05-04 21:41] Xeddius commented on #481
I had an interesting Concept/Idea the other day, what about Shaders/CRT emulation? Would this at all be possible? I've simulated an example of what this feature might look like, below.
![Screenshot from 2019-05-04 17-39-11](https://user-images.githubusercontent.com/6382895/57185120-b9ebd880-6e93-11e9-8b75-b2ac5ed15b6b.png)

[2019-05-05 01:43] yanzhao77 commented on #495
Thank you. That's the problem. I have an idea to put this UI into software so that it can really implement scientific and technological software. I hope I can get your authorization. My email is 756624050@qq.com. I hope to discuss this matter with you in detail.

[2019-05-05 06:06] bennettyuan18 opened #496 "Cannot work if settings shell is "fish""
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.1`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [ ] Windows
 - [x] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2019-05-05 07:24] #495 closed

[2019-05-06 05:21] JackMing0 opened #497 "Please ask the blogger! How do you map terminal output to the web"
*Before you write your question, make sure the answer you're looking for isn't in the [Q&A](https://github.com/GitSquared/edex-ui#qa) or the [wiki](https://github.com/GitSquared/edex-ui/wiki).*

[2019-05-06 17:43] oksoft-ondra opened #499 "GUI Apps"
I like eDEX-UI, but i want to browse for example web here. Can I open Xorg windows in tabs or some kind of opening gui apps. It can be for linux only for now. Thank you.

[2019-05-06 19:00] yozlet commented on #469
Not sure if this is related, but: on my Mac (running Mojave) not only is there no `Cmd`/⌘ key on the virtual keyboard, but using Cmd in a key combo then keeps the other keys lit (i.e. showing the solid keypress block), and their status doesn't change until I hit those keys again.

[2019-05-06 19:11] GitSquared commented on #469
@yozlet That's unrelated but it sounds like an issue I fixed in master the other day and that should land in the next release.

Also I need to replace the Cmd shortcuts on macOS with Ctrl ones like on the other platforms; that will make everything easier... Plus you can't use Cmd+Tab on macOS because that's the system shortcut for switching windows.

[2019-05-06 19:19] GitSquared commented on #499
I'm sorry but eDEX is not a WM *(Windows Manager)* and does not intend to be one.
I know many people like you would love to see something like this, but I'm just not ready to be that guy who made a whole desktop in Javascript. It's not a clean way of doing things and that's an understatement.

If you're looking to make yourself a Linux desktop that ressembles eDEX, you can do wonders with `i3` and

[2019-05-06 19:19] #499 closed

[2019-05-06 19:20] GitSquared commented on #497
@JackMing0 I'm sorry, I don't understand the question.

[2019-05-06 19:22] GitSquared commented on #496
@bennettyuan18 Could you start a terminal and launch eDEX from there?

It should give more information on why it's failing to open a window.

[2019-05-06 19:27] GitSquared commented on #481
@Xeddius I like this idea, reminds me of `cool-retro-term`. I'm looking around a bit but can't figure out how that would be possible on a web interface. I think CSS magic could make something interesting though, I might play around with the idea next weekend.

[2019-05-06 20:20] yozlet commented on #496
I'm having the same issue. However, when running from a terminal, eDEX starts fine and shows my fish prompt in its terminal. No extra messages logged when compared with `bash` start.

I tried starting the app using the icon, and kept an eye on the MacOS Console app. Bunch of different messages spewed, but the only difference I noticed was this message ~30s after start, when running the app with `f

[2019-05-07 00:06] JackMing0 commented on #497
Hello, blogger! I read the project you wrote! I'm very interested!
Want to consult a blogger! How did you do it! Below the implementation of this pseudo-terminal function!
![QQ20190507-080502](https://user-images.githubusercontent.com/37831370/57262524-0b1be800-709f-11e9-90af-d550fd20b92e.png)

[2019-05-07 00:13] JackMing0 commented on #497
Excuse me, the blogger has written about the eDEX project!
Specific implementation steps of the article

[2019-05-07 13:38] Chromecube commented on #497
Well, you are currently in the GitHub repository of the project. Just have a look at the code to see how it's done, e.g. in the [UI script](https://github.com/GitSquared/edex-ui/blob/master/src/_renderer.js#L425) or in the [Terminal class](https://github.com/GitSquared/edex-ui/blob/master/src/classes/terminal.class.js).

[2019-05-07 15:06] masivi commented on #481
The web browser module is a great idea! It would be brilliant !!!!

[2019-05-07 19:09] aedelsten opened #500 "Start new tabs with a different shell"
Add ability to right-click on a terminal tab and select different shells to run (idea totally stolen from the new MS Windows Console). Could list the shells in the config file, use the first entry as the default but allow user to choose and then launch.

See: https://youtu.be/8gw0rXPMMPE?t=13

**Perceived idea awesomeness**
- [ ] Would be super cool.

**Perceived idea difficulty**
- [ ] Shouldn't

[2019-05-10 17:05] clragon opened #501 "Unecessary filesystem refresh"
## Technical information
**Using version:**
 - [x] `latest` (latest release, currently `v2.2.1`)

**Running on:**
 - [x] Windows

**How comfortable you are with your system and/or IT in general:**
 - [x] My machine is fully under my control, tell me what you need

---

The filesystem refreshes even when detached.
This seems to occur whenever the main terminal is activated, either at the start or w

[2019-05-10 17:15] clragon opened #502 "List view for filebrowser"
**Perceived idea awesomeness**
- [x] I'm not sure a lot of people would use it, but I'd love to have it.

**Perceived idea difficulty**
- [x] Shouldn't be too hard to make.

---

It would be pretty neat if we could have a windows-explorer like information list view for the file browser.
Here's what it looks like;
![Screenshot_2](https://user-images.githubusercontent.com/11785085/57544512-d38b9500-

[2019-05-10 17:30] GitSquared commented on #502
👍 Will consider this as a new feature

[2019-05-10 17:41] GitSquared commented on #501
Reproduced. Will look into it.

[2019-05-10 17:43] GitSquared commented on #500
This is a good idea indeed. However since eDEX targets touch surfaces we'd need to figure out some other user action instead of "right click". Thinking on it.

[2019-05-11 15:50] #497 closed

[2019-05-11 16:13] #501 closed

[2019-05-11 16:14] GitSquared commented on #501
Fixed. Some code was ran before the noTracking mode being applied to the fsDisp, and resulted in an extra listener still being present on the main shell tab.

Thanks for spotting this!

[2019-05-11 16:15] clragon commented on #500
@GitSquared the touch translation of right clicking usually is long press

[2019-05-11 16:22] GitSquared commented on #500
@clragon Long press sounds nice, I was thinking about double-finger tap but that's harder to implement and use.

After this trigger, perhaps some kind of pop-up could appear with a line prompt to input the desired shell name/path.

@Xeddius hey, since you've been doing all those crazy concept screenshots lately, could you give us something here? if you have the time to spare, of course.

On a slig

[2019-05-11 16:41] GitSquared commented on #496
Confirmed this behavior. One temporary solution is to put the full path in your settings file (`/usr/bin/local/fish` if you've installed fish from homebrew).

I'm working on a fix.

[2019-05-11 19:11] GitSquared commented on #502
![image](https://user-images.githubusercontent.com/24496417/57573976-12414e00-7431-11e9-87b8-155687c2f959.png)

There you go. The code already had access to some more advanced file stats and the filesystem module has a pretty recent css implementation that uses grid and flexbox, so it was quite easy to do.

Keyboard shortcut to switch between the original "grid" and the list view is `Ctrl+Shift+L`

[2019-05-11 19:12] #502 closed

[2019-05-11 19:14] GitSquared commented on #502
(Possible future improvements: Reduce/optimize time string, show file permissions/owner)

[2019-05-11 19:17] clragon commented on #502
that's so cool!

only thing I'd still would wanna see is sort by type instead of just name.

_I have everything sorted by type, sorting by type ftw_

[2019-05-11 19:21] GitSquared commented on #502
Will look into it.

[2019-05-11 20:01] abhiunix commented on #222
Sir, I'm still facing the same issue with the same error message.
I have also checked my port no 3000.
No other services are using this port.

![Screenshot 2019-05-12 at 1 31 03 AM](https://user-images.githubusercontent.com/29152087/57574381-a7563e00-7455-11e9-9308-bb4d13cffe64.png)

[2019-05-11 20:15] diptampaul opened #503 "The network is offline in windows. How to enable that?"
(...)

[2019-05-11 20:19] GitSquared commented on #222
@abhiunix Two things:

- Do you use a network proxy?
- Does changing eDEX's settings to use some other port (e.g `3001`) fixes the issue?

[2019-05-11 20:22] GitSquared commented on #503
@diptampaul Open the settings (`Ctrl+Shift+S`). On `iface`, use the dropdown menu to select the right network interface - you'll want to avoid virtualization (VMware) stuff, and select something like `Wi-Fi` or `Ethernet`.

Then, on the lower part of the window, hit `Save to Disk` and `Reload UI`. Should work now.

[2019-05-11 20:36] abrarjaved644 opened #504 "TypeError: Cannot read property 'getExtension' of null: Uncaught TypeError: Cannot read property 'getExtension' of null on mac os x"
I saw issue #217 but that's for Linux and I can't understand how to fix it I try everything but I can't  get the globe to show up
![Screen Shot 2019-05-11 at 11 31 24 PM](https://user-images.githubusercontent.com/41078856/57574680-16c43180-7446-11e9-80b5-d73a5a832091.png)

[2019-05-11 20:48] GitSquared commented on #504
@abrarjaved644 Can you give me the model and year of your laptop? (e.g MacBook Air 2011)

This issue is related to some graphics API support and I can't do much about it. While it is fixed for most users, you might still be experiencing this if your hardware is a little old.

[2019-05-11 20:49] abrarjaved644 commented on #504
15 inch mid-2009 MacBook Pro

[2019-05-11 20:52] GitSquared commented on #504
Yeah, that sounds like an "age" issue then, I'm sorry.
I'll update you if our upstream overlords add more legacy support, but I doubt that it will happen.

[2019-05-11 20:53] #504 closed

[2019-05-11 20:54] abrarjaved644 commented on #504
ok thanks

[2019-05-12 04:11] fir0j commented on #503
![DeepinScreenshot_20190512093759](https://user-images.githubusercontent.com/41787040/57577658-d1c9ea80-7499-11e9-895f-566112fc9385.png)
I am on Deepin Linux. Though Correct interface has been detected, Network status, World View, Network Traffic all showing offline. But Ping 8.8.8.8 is working fine in terminal.

What's the issue with my system? please take a look

[2019-05-12 06:44] fir0j commented on #503
One Strange thing i found, When i am connecting my laptop with mobile hotspot then Network status = ONLINE that is it's EDex-ui is  working fine but when i am connected to my wifi router it's showing Network status = OFFLINE even if it's detecting correct interface and ping is working termnal too.

[2019-05-12 08:06] Et0hacker opened #505 "EDEX-UI not opening after double-clicking on icon nothing responds at all"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-pu

[2019-05-12 08:11] RajTechKing commented on #505
Yeah. SAME problem with me.

[2019-05-12 08:13] GitSquared commented on #505
Have you changed any settings? Could be related to #496

[2019-05-12 08:17] Et0hacker commented on #505
no i did nothing....just installed ur package as normal installation

[2019-05-12 08:22] RajTechKing commented on #505
In task manager, I can see two background process of EDEX_UI but none in the apps. It sort of loads, probably loads the two processes and then nothing happens.

[2019-05-12 08:24] Et0hacker commented on #505
same here bro... I can see two background process of EDEX_UI but none in the apps. probably loads the two processes and then nothing happens. OS: Win 7 64-bit

[2019-05-12 08:26] RajTechKing commented on #505
This is what I get when starting from CMD:-

 Γû║  start     Starting eDEX-UI v2.2.1
i  info      With Node 10.11.0 and Electron 4.1.4
i  info      Renderer is Chrome 69.0.3497.128
Γû║  Startup   Initialized timer...
i  info      Base config dir is C:\Users\acer\AppData\Roaming\eDEX-UI
[ ]  pending   Loading settings file...
ΓêÜ  success   Settings loaded!
[ ]  pending   Creating new terminal proc

[2019-05-12 08:26] GitSquared commented on #505
Do you fellas know how to launch it from a cmd/powershell window? It could print out some interesting logs.

[2019-05-12 08:28] GitSquared commented on #505
@RajTechKing Are you also on Win7?

[2019-05-12 08:29] RajTechKing commented on #505
No I am on windows 8.1

[2019-05-12 08:32] GitSquared commented on #505
Okay. From the logs it seems that some internal Windows dependency can't be found on your system - and I'm guessing the same thing is happening for @Et0hacker

Those pre-compiled packages have only been tested on win10, I'll see if I can maybe relink some stuff by building on older versions.

In the meantime if you're feeling adventurous you could try to build from source (instructions are in the

[2019-05-12 08:33] RajTechKing commented on #505
I also tried compatibility settings for Windows 7 and Windows Vista. Still doesn't work.

[2019-05-12 08:33] Et0hacker commented on #505
![photo_2019-05-12_14-02-53](https://user-images.githubusercontent.com/50541295/57579788-bb825580-74be-11e9-856c-b17fd9448088.jpg)
![photo_2019-05-12_14-03-07](https://user-images.githubusercontent.com/50541295/57579789-bc1aec00-74be-11e9-948b-e04cb50e3fd5.jpg)

[2019-05-12 08:34] RajTechKing commented on #505
Alright. I am not so good at programming(I only know basics of programming) but I guess I'll try. Thanks for your time.

[2019-05-12 08:36] Et0hacker commented on #505
@GitSquared same applies for me
@RajTechKing lets try toghether

[2019-05-12 08:38] Et0hacker commented on #505
@GitSquared do u have any development group? In platforms like Telegram Etc.

[2019-05-12 08:38] RajTechKing commented on #505
Yeah. We might help out.(HOPEFULLY :D)

[2019-05-12 08:40] GitSquared commented on #505
@Et0hacker No, sorry. I'm pretty much working alone on this one.

[2019-05-12 08:40] GitSquared commented on #505
To build the thing on Windows you'll need to have Node.js installed and then it should be just a matter of putting in the right commands in order.

[2019-05-12 08:41] Et0hacker commented on #505
ok i'll try but....u also pls work on this

[2019-05-12 08:47] RajTechKing commented on #505
Hey @Et0hacker do you have telegram? If yes, email me your mobile no on rajvajpayee059@gmail.com and I'll Connect with you.

[2019-05-12 08:50] GitSquared commented on #505
@Et0hacker Yes of course. I'm just suggesting, you don't have to do anything.

[2019-05-12 08:50] Et0hacker commented on #505
tell me ur telegram id, adding you now by id

[2019-05-12 08:52] RajTechKing commented on #505
I can't find anything like ID.

[2019-05-12 08:52] Et0hacker commented on #505
open your telegram and on search type: @iamjinay

[2019-05-12 08:53] RajTechKing commented on #505
If you are looking for username, it is @RajTechKing

[2019-05-14 16:25] rinku98 commented on #503
same here on windows

[2019-05-14 16:35] rinku98 commented on #503
It doesn't work now with a wifi roueter neither a mobile hotspot

[2019-05-14 18:02] clragon commented on #503
Is it stated somewhere that you can open the settings with `ctrl+shift+s`?
because I havent been able to find that until I've now seen that comment. I did notice though that you can open it by clicking the file, also that json editor is pretty fucking neatly designed ngl, would even be nice as a general thing 👀

[2019-05-14 18:51] fir0j commented on #503
it does work when i connect my laptop to my mobile's hotspot. Don't why? but  ya it works

[2019-05-14 19:02] GitSquared commented on #503
@clragon It is stated in the [Settings wiki page](https://github.com/GitSquared/edex-ui/wiki/settings.json) - there's also a keyboard shortcuts article in the wiki.

In latest versions you can use `Ctrl+Shift+K` to open a pop-up with a list of available keyboard shortcuts. By the way, these work whether you're using a physical keyboard or eDEX's touch-enabled one.

[2019-05-14 19:10] GitSquared commented on #503
@fir0j @rinku98 3 things can cause eDEX to display the network as "offline" when it is not:

- The automatic interface selection script might have failed to detect the correct interface
- The IP address used for latency testing (default `1.1.1.1`) might be unreachable, possibly because of a proxy/firewall block
- The geoip API backend (`ipinfo.now.sh`, also made by me) might be unreachable (see po

[2019-05-14 19:24] Reshiram110 commented on #481
I love the file viewing/matrix idea. If I could view text files (and possibly even edit them) in edex, it would be an amazing feature.

[2019-05-14 19:42] GitSquared commented on #481
@Reshiram110 That wouldn't be too hard to implement, but while I see the usefulness of previewing images, I'm wondering why you would be so psyched about editing text files...?
I mean, it's a task that is very well handled by a lot of terminal-based solutions (vim, nano, macro, etc).

Honest question.

[2019-05-15 11:16] fir0j commented on #503
@GitSquared
* don't use network proxy
output for `ipinfo.now.sh `  what i got is `{"api_version":"3.0.0","geo":{"latitude":12.9833,"longitude":77.5833,"metro_code":null,"time_zone":"Asia/Kolkata"},"ip":"115.99.87.169","time":1557918541}`

* i have no idea if eDEX is blocked by firewall. How to check?

* while i am doing `ping 1.1.1.1` in eDEX terminal, i am able to get reply. it's working there bu

[2019-05-15 11:38] GitSquared commented on #503
@fir0j I can't tell you how to check your firewall or even if you have one at all, I don't know how your system is configured/what you've installed - especially if you're on Linux.

Regarding the mobile hotspot thing, I have no idea. Maybe your laptop is using a different network interface when you switch to the hotspot. Maybe there's a configuration somewhere that prevents eDEX from accessing the

[2019-05-17 02:56] shivamshukl4 commented on #505
@GitSquared
I'm using windows 10 pro 64bit.
The system installed the EDEX_UI without any issues.
When launching it through shortcut it shows nothing.
But two EDEX_UI processes running in background.
Please help me.☺

[2019-05-18 04:08] Reshiram110 commented on #481
@GitSquared Valid point, I wasn't thinking of terminal editors when I made the comment.

However, I would like to note that you cannot edit files currently when you click on them in the file explorer.
Adding in a custom editor module would allow us to say click a .log file and edit it in the custom editor UI.

[2019-05-18 15:12] #503 closed

[2019-05-19 17:50] dkozinn commented on #505
I just installed  2.2.2 on Windows 10 64-bit 1903 and the same problem is happening. I didn't see anything in the release notes about this, so I assume this is yet ot be fixed?

[2019-05-19 18:29] GitSquared commented on #505
@dkozinn Indeed, the latest version is just an emergency vuln fix. I haven't taken the time to research this issue yet - it's quite difficult since everything works flawlessly on my machine, so I need to figure out a way to reproduce the bug first.

I'm currently studying for final exams so I won't give an estimated ETA just yet. I'll make sure to look into it before the next release, though.

[2019-05-19 18:50] dkozinn commented on #505
@GitSquared Thanks for letting me know. When you're done with finals if there's anything I can do to let, please let me know. More than happy to run debug versions, etc.

Good luck with your finals.

[2019-05-24 05:50] Hellzbellz123 commented on #500
why not add a settings tab where you can set the 4 different windows shells

[2019-05-24 06:07] Hellzbellz123 commented on #500
like a simple skinned file broswer to keep immersion to point to the correct  .exe file?

[2019-05-24 06:34] clragon commented on #500
@Hellzbellz123 that doesn't sound very expandable if we ever get more than 4 tabs

[2019-05-24 07:42] Hellzbellz123 commented on #500
i mean most people only use cmd anyway, but it would be easily expandable by just copy pasting the code and adding in tab 5,6,7 etc etc etc

[2019-05-24 07:42] Hellzbellz123 commented on #500
i mean most people only use cmd anyway, but it would be easily expandable by just copy pasting the code and adding in tab 5,6,7 etc etc etc

[2019-05-24 08:14] clragon commented on #500
yeah that sounds like a hard coded way to do this, I'd rather have a pop up that lets you select it, thats way more adaptable to whatever situation you need a terminal in

[2019-05-25 07:46] rj0006 opened #511 "Internet issue"
Internet is online but it show offline in eDex-UI

[2019-05-25 08:11] GitSquared commented on #511
See #503

[2019-05-25 08:11] #511 closed

[2019-05-25 15:45] Xeddius commented on #500
@GitSquared I think I can come up with something, some devices allow right clicking by double tapping, could be as simple as setting up right click on the terminal area, this would also make it compatible with non-touch interfaces as well.

[2019-05-29 19:42] michaelsharpe commented on #334
Definitely willing to help with any modularization that is needed, or for that matter stripping out the interface to run on the web against a remote server.  Modularizing and componentizing the interface would be a huge boon; even having a terminal library in react that could be utilized and composed in various ways would be awesome.

[2019-06-01 09:29] clragon opened #516 "Sound spam"
## Technical information
**Using version:**
 - `latest` (latest release, currently `v2.2.2`)

**Running on:**
 - Windows

**How comfortable you are with your system and/or IT in general:**
 - My machine is fully under my control, tell me what you need

---

When pressing ctrl or shift, the typing sound continues to stack up until another button is pressed.
I'd expect that buttons like these which

[2019-06-01 16:56] GitSquared commented on #516
@clragon Can't reproduce this. Tested on Linux and Windows, the sound effect only fires once. Are you pressing any other keys before this bug shows up?

[2019-06-01 17:36] GitSquared commented on #502
@clragon Just went over this thread again as I'm polishing this feature a bit; it seems that the module already sorts filesystem entries by type (folders then files then symlinks etc), is that not what you're expecting?

[2019-06-01 17:47] clragon commented on #502
@GitSquared
does it also sort by _file_ type? because thats what I meant.

[2019-06-01 17:52] GitSquared commented on #502
@clragon Oh right. Sorry for the misunderstanding.

[2019-06-01 18:08] #496 closed

[2019-06-01 18:08] GitSquared commented on #496
![image](https://user-images.githubusercontent.com/24496417/58752035-5233a800-84a8-11e9-83ce-3e4a24eb4003.png)

eDEX will now resolves the shell path internally to prevent this bug.
Shipping in the next release.

[2019-06-02 14:50] RamDerp commented on #37
hey man can you make it so you can use the short key to quit a command

[2019-06-02 15:22] GitSquared commented on #37
@RamDerp ...what short key?

[2019-06-03 19:46] clragon commented on #516
@GitSquared no, no other buttons. I can boot it up and immediatly press one of them and it will stack up

[2019-06-03 22:06] Xeddius commented on #500
@aedelsten I'm trying to come up with some concept art, but I'm not sure what you mean when you refer to the shell, the video shows different linux distributions as options. Do you mean shells like Ash, Bash, Dash, zsh, tcsh? Or just custom named tabs with their own different shell?

[2019-06-04 13:53] GitSquared commented on #516
@clragon Would you be able to record your screen while this happens? With Windows' sound output if possible?
I'm trying different things but I still can't reproduce this so far.

[2019-06-04 15:44] clragon commented on #516
@GitSquared it seems not so.
either shadow play or edex-ui seem to have a big problem with the other part. shadowplay doesnt record edex at all and when opening the overlay, edex starts to flicker horribly

[2019-06-04 19:19] capacity99 opened #523 "EDEX-UI 2.2.2 WONT START UP."
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [ ] `latest` (latest release, currently `v2.2.2`)

**Running on:**
 - [x] Windows 7
---

So basically, I foudn out EDEX, and I loved it. I used it on a university pc that has windows 10. And it worked perfect, but then, I went to my home, and started up my own pc to ge

[2019-06-04 19:35] GitSquared commented on #500
@Xeddius I believe he meant different shell programs indeed. Zsh, fish, bash, and the like.

[2019-06-04 19:35] GitSquared commented on #516
@clragon Okay, thanks for trying anyway.

[2019-06-04 19:37] GitSquared commented on #523
@capacity99 Could you give me some basics specs about your system? CPU, number of cores/threads, video card if any...

Could be a case of #505

[2019-06-04 20:10] clragon commented on #516
@GitSquared
so I got OBS and made a video for you.
The Quality is horrendous though because I didn't configure OBS correctly, so sorry for that.
I think it shows the issue though.

https://www.youtube.com/watch?v=og1zlVCQ68E

[2019-06-05 03:14] Xeddius commented on #500
Hmm, while I can see the appeal, for the time being one can type the new shell name to start it. Though an option to have different tabs run a different shell in settings could probably be easily added.

[2019-06-05 13:28] capacity99 commented on #523
Tarjeta de video AMD Raedon 460.
Windows 7 Service pack 2.
8RAM.
i3

[2019-06-07 11:42] chiragvshroff opened #524 "update"
how do i update it in kali linux as i dont want to delete and install the new version is there a way to update the repo ??

[2019-06-07 11:50] GitSquared commented on #524
If you installed using the AppImage, you can just overwrite the old one with the new release.

Your configuration is saved externally, you won't lose anything.

[2019-06-09 07:25] #524 closed

[2019-06-09 07:25] GitSquared commented on #523
@capacity99 Could you tell me the exact model of the i3 processor?

[2019-06-09 07:28] GitSquared commented on #516
@clragon Thanks for the video, really helpful. I think I know where this is coming from, I'll push a fix soon - sorry for the delay.

[2019-06-09 09:53] clragon opened #525 "Incompatibility with shadowplay"
## Technical information
**Using version:**
 - `latest` (latest release, currently `v2.2.2`)

**Running on:**
 - Windows

**How comfortable you are with your system and/or IT in general:**
 - My machine is fully under my control, tell me what you need

---

Trying to use shadowplay with edex is impossible. Opening the overlay results in the mouse stopping to react and edex starting to flicker alot

[2019-06-11 01:00] capacity99 commented on #523
Intel Core i3-6100

[2019-06-15 13:54] GitSquared commented on #523
That makes it a duplicate of #505. Closing.

[2019-06-15 13:54] #523 closed

[2019-06-15 14:08] GitSquared commented on #525
The ShadowPlay overlay is made for GPU-rendered applications. While eDEX's Chromium renderer uses the GPU for some rendering tasks (hardware acceleration, which is a pretty obscure process that varies a lot between implementations and what hardware it's running on), it does not provide a fully GPU-rendered window.

The real bug here is that the overlay appears at all, as it does not support this k

[2019-06-15 14:08] #525 closed

[2019-06-15 17:14] masivi commented on #469
Any news about this? I've been searching but nothing useful... :(

[2019-06-16 09:48] GitSquared commented on #469
@masivi I'm currently (mostly) taking a break from open-source work as I got some final exams next week.

I started working on this issue already though, but it is way more complicated than I thought.
For some reason the terminal emulator does not receive correct key events data when dead keys are used.

I hope to find a way to fix this soon as it's also important for my language 😅
I'll keep this

[2019-06-24 23:01] forest-hermit opened #535 "Version 2.0 of Linux appimage in 2.2.2 announcement"
When I downloaded eDex Linux Appimage 64 bits here: [https://github.com/GitSquared/edex-ui/releases/tag/v2.2.2] I got 2.0 instead.

[2019-06-25 02:45] Rajchowdhury420 opened #536 "double tap isn't working !!"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 - [x] `master` (running from GitHub-pu

[2019-06-25 02:45] Rajchowdhury420 commented on #536
In Linux App Image doesn't run by double Clicking

[2019-06-25 16:49] NiramayVaidya opened #537 "Edex-UI does not launch after running the command 'npm start'"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 -  `master` (running from GitHub-publi

[2019-06-26 19:59] Gopherslol opened #538 "Can't Compile From Source on Raspberry Pi"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [ x ] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ x ] Linux (Raspbian Buster)
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honest

[2019-06-28 10:32] maggot99999 opened #539 "Can't use git bash as `settings.shell`"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [x] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2019-07-03 16:19] masivi opened #542 "Last line broken in font size lower than 15"
Technical information

Using version:

master

Running on:

    Linux

When font size is lower than 15, the last line of the terminal is not seen. With size font 14 it shows partialy.

[Font 12](https://ibb.co/zsvFrCG)

[Font 14](https://ibb.co/h1Qhr5K)

[Font 15](https://ibb.co/k4d021q)

[2019-07-03 16:45] GitSquared commented on #536
@Rajchowdhury420 Have you set the executable flag correctly on the file?

Try opening a terminal, navigating to the AppImage's folder and running `chmod +x eDEX-UI.Linux.x86_64.AppImage`.
You should then be able to double-click it.

[2019-07-03 16:52] GitSquared commented on #535
The AppImage published on GitHub releases is correct - I just checked.

eDEX releases do not have the version number in the filename (which is something I should probably change), so you might have accidentally used an older file that you previously downloaded, or perhaps you have a bad cache between you and GitHub.

I'd advise you to delete any AppImages you have and download the latest one again

[2019-07-03 16:52] #535 closed

[2019-07-03 16:55] GitSquared commented on #537
What version of GTK and/or KDE do you have on this system?

[2019-07-03 17:02] GitSquared commented on #538
Could you run `uname -a` and give me the output? From your logs it seems like your Pi is using an old processor architecture (`armv6l`) that is not supported by Electron (and, by extension, eDEX) anymore.
Just want to confirm this.

[2019-07-03 17:27] GitSquared commented on #542
I just pushed a commit that should fix this to `master`. Could you try it?

[2019-07-03 17:31] GitSquared commented on #539
As it seems like you've figured out, the settings parser does not support spaces in the path of the desired shell program.

It's designed to automatically find the right path without needing to write it by hand, though, so the following should work:

[code]

[2019-07-03 18:45] forest-hermit commented on #535
Correct, I downloaded it from another browser (the 64 bits version again) and now it worked. Maybe it was cache or a dumb day, because I was almost sure of delete that appimage before download the new one (and it wasn't integrated until now). Thanks for your awesome work!

[2019-07-04 05:17] masivi commented on #542
Confirmed!
Fixed!
Thank's!

[2019-07-04 05:17] #542 closed

[2019-07-06 14:44] NiramayVaidya commented on #537
My system has GTK version 3.18.9 and KDE 16.04.

[2019-07-07 03:27] JackMing0 opened #543 "CPU usage is too high"
*The following (lightweight) template is made to better understand your view and what you think about your request. You are free to ignore it, but are encouraged to complete it.
We've seen lots of feature requests on this project, some were perhaps [too ambitious](https://github.com/GitSquared/edex-ui/issues/456) and some were [literally implemented overnight](https://github.com/GitSquared/edex-ui

[2019-07-07 09:41] GitSquared commented on #543
What CPU do you have?
A lot of optimization work has been implemented in eDEX already. I'm afraid I can't do much more.

[2019-07-08 11:01] arquadrado opened #544 "Black screen when typing"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-pu

[2019-07-08 21:07] luzpaz opened #547 "Add a Repology badge to README"
*The following (lightweight) template is made to better understand your view and what you think about your request. You are free to ignore it, but are encouraged to complete it.
We've seen lots of feature requests on this project, some were perhaps [too ambitious](https://github.com/GitSquared/edex-ui/issues/456) and some were [literally implemented overnight](https://github.com/GitSquared/edex-ui

[2019-07-09 12:35] giovannigiordano commented on #543
@GitSquared I have the same issue with a MacBook Pro with an Intel i5-5257U

[2019-07-09 13:07] Allsimon commented on #543
<img width="237" alt="Capture d’écran 2019-07-09 à 15 04 13" src="https://user-images.githubusercontent.com/8037169/60890143-01f3f680-a25b-11e9-86a9-33fc7964541e.png">

Same here

[2019-07-13 17:02] GitSquared commented on #543
Thanks for sharing that screenshot @Allsimon. Unfortunately, the only abnormal thing I can see is your CPU temperature.

Please note that the "71.2%" displayed in the Top Processes panel is **per-core CPU usage** - which means the maximum value in your specific case would be 400% (4-cores, 8-threads CPU), so the **actual CPU-wide usage is 17.8%**.
I'm working on a UI update to make this easier to

[2019-07-13 17:02] #543 closed

[2019-07-13 17:05] GitSquared commented on #544
@arquadrado Could you share your system specs, especially CPU and dedicated GPU if any, and Linux distro+version?

A screenshot of the "black screen" or a video would also be really helpful, if you can spare the time.

[2019-07-13 17:06] GitSquared commented on #539
Closing this as inactive. Feel free to reopen if suggested solution doesn't work.

[2019-07-13 17:06] #539 closed

[2019-07-13 17:36] GitSquared commented on #547
Interesting website. I won't add the badge itself, but I'll link it in improved download instructions.

Thanks for sharing.

[2019-07-13 17:50] #547 closed

[2019-07-13 18:10] #516 closed

[2019-07-13 18:27] GitSquared commented on #505
f1dbf08

Okay, after taking some time to look into this again, It seems that the shell program eDEX attempts to load as a terminal back-end is not found, which due to ~~my laziness~~ a lack in error handling in the early stages of the startup procedure, causes eDEX to silently crash.

The default shell program for fresh windows installs of edex is `powershell.exe`.
Maybe some $PATH misconfiguratio

[2019-07-13 18:30] Allsimon commented on #543
[My CPU](https://www.cpubenchmark.net/cpu.php?cpu=Intel+Core+i7-4770HQ+%40+2.20GHz) is really close in speed to the latest [Macbook pro](https://www.cpubenchmark.net/cpu.php?cpu=Intel+Core+i7-7700HQ+%40+2.80GHz).

For this screenshot, I left edex-ui idle with nothing else in the background.

I really don't think you should ignore this @GitSquared, it is totally unusable on Mac currently. Even clic

[2019-07-13 18:30] GitSquared commented on #505
In the meantime, I believe you should be able to work around this issue by starting eDEX once (to generate configuration files) and replacing the value in the `shell` entry of the [setting file](https://github.com/GitSquared/edex-ui/wiki/settings.json) to `cmd.exe`.

[2019-07-13 18:42] dkozinn commented on #505
I do have powershell on my machine though shell was set to bash which perhaps is why it was failing? In any case, I set shell to powershell.exe and it seems to be working now.

[2019-07-13 18:55] GitSquared commented on #543
@Allsimon I focused on CPU usage and didn't think input latency was this bad, sorry.

While your CPU speed is indeed far from bad, maybe its integrated GPU is causing the problem. Could you give me the exact model/specs of your laptop so that I can verify all this?

Also, would you be able to open the dev console from inside edex and check if any error or seemingly unusual stuff pops up?

[2019-07-13 18:57] GitSquared commented on #505
The shell was set to bash??
This is really weird. Thanks for the info, I'll check what's going on.

Just to confirm, this is on the v2.2.2 release?

[2019-07-13 19:13] dkozinn commented on #505
I believe that I was running 2.2.1. I've replaced that with 2.2.2 now but I can see that the settings file hasn't been touched since I manually modified it.  Obviously it's still working fine after that change.

[2019-07-13 19:34] GitSquared commented on #505
It is programmed to never overwrite the config file. Which is why I hope the 7225 people who downloaded v2.2.1 on Windows didn't get a broken default configuration. :grimacing:

Seems weird because if it was a code error I'd expect to have much more feedback about this. I hope to figure out what happened soon.

[2019-07-13 19:52] dkozinn commented on #505
I think I started with an earlier version, then upgraded to 2.2.1, so perhaps it goes back further?

From: Gaby <notifications@github.com>
Sent: Saturday, July 13, 2019 3:35 PM
To: GitSquared/edex-ui <edex-ui@noreply.github.com>
Cc: David Kozinn <david@kozinn.com>; Mention <mention@noreply.github.com>
Subject: Re: [GitSquared/edex-ui] EDEX-UI not opening after double-clicking on icon nothing respo

[2019-07-13 22:03] GitSquared commented on #505
I checked and the specific line of code that sets `powershell` as the default option on Windows is correct and hasn't moved in 2 years. I'm not sure how you got `bash` to appear in your config.

I'm going to wait for @Et0hacker's feedback on this.
In the meantime, you gave me an idea for a small logging feature I'm going to implement.

[2019-07-14 03:08] dkozinn commented on #505
I wonder if when I ran it the first time, I set that myself to bash figuring I'd get that instead of powershell? In other words ... user error. I don't remember doing that, but I can't swear that I didn't either.

[2019-07-14 09:46] GitSquared commented on #505
Thought about this too. I need OP's feedback to confirm what's in his configuration file.

[2019-07-15 07:42] postables commented on #544
I'm also getting this issue, here's the logs from `syslog` that happen right before I get the black screen:

[code]

[2019-07-15 08:46] GitSquared commented on #544
@postables Thanks.

[code]

This looks like a Chrome crash. Could you tell me your linux distro, DE/WM with version, and eDEX version?

[2019-07-15 14:55] Allsimon commented on #543
I experience issue #222 (can't fix it on my side, sorry).

There is a memory leak too (it might be caused by #222, I'm not sure)...
In order to reproduce, you just have to open edex-ui, launch the console, take a heap snapshot every ~30seconds, the memory will grow till it crashes.

I'm on V2.2.2 - Electron 4.2.0 (macOS 10.14.5)

[2019-07-16 03:50] postables commented on #544
OS:
[code]

DE/WM should be the latest version of the gnome3 fork [here](https://github.com/pop-os/gnome-desktop3)

eDEX version is 2.2.2

[2019-07-17 22:29] J-Nistler commented on #539
I am also having this issue. I have attempted to use "bash.exe" and "git-bash.exe" for the shell parameter but it fails to launch.

I then moved the git-bash installation folder to the C: drive to eliminate the spaces in the path, then used the whole path in the shell parameter. When I launch eDEX, git-bash launches first, then eDEX does. At that point, eDEX's terminal function is inop and git-bas

[2019-07-18 07:24] GitSquared commented on #539
@J-Nistler Looks like the path you specified is for git-bash's GUI wrapper, not the included actual bash clone.

[2019-07-18 14:23] J-Nistler commented on #539
@GitSquared That's it!
I got it to work just fine by using "C:\\Git\\bin\\bash.exe" in the shell parameter.
Thanks for the help and for being so responsive! This project is amazing.

[2019-08-05 15:42] croxis opened #561 "ENOENT warnings when compiling on Arch linux"
This happens both with git and with the AUR 2.2.2

[code]

[2019-08-14 23:58] acul009 opened #564 "Filebrowser additions and manual location"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [ ] Would be super cool.
- [X] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [X] Would need some work, but nothing impossible.
- [ ] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

I

[2019-08-15 04:09] huanghyw opened #565 "install error"
*The following (lightweight) template is made to avoid recurring questions in new bug reports and to facilitate problem diagnosis. You are free to ignore it, but filling it correctly will help a lot. Either way, thanks for taking the time to write a report.
You can delete this introduction message if you want to.*

## Technical information
**Using version:**
 - [x] `master` (running from GitHub-pu

[2019-08-15 12:45] opariffazman opened #566 "Using Color Filter Broke Other Shell"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v2.2.3-pre`)
 - [X] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [X] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2019-08-19 14:29] Chromecube commented on #565
`Command failed: /Users/huangyiwei/anaconda3/bin/python -c import sys; print "%s.%s.%s" % sys.version_info[:3];`

Seems like you have Anaconda installed and use this as your default python executable. Could you give me the output of `sys.version_info` from your python installation?

[2019-08-19 14:40] Chromecube commented on #564
Referring to point 3: https://ipinfo.now.sh/ is hosted on ZEIT and seems to be offline.

[2019-08-19 15:00] Chromecube commented on #538
@GitSquared You are right, for Electron version 4.2.0 only ARMv7 (and higher) processor architecture versions are supported. All available downloads are listed here: https://github.com/electron/electron/releases?after=v5.0.1

@Gopherslol I guess your Pi is a bit old as only the first generation of Raspberry Pi's used ARMv6, the newer models use ARMv8. You can look it up here: https://en.wikipedia.

[2019-08-21 13:30] GitSquared commented on #538
Closing this since the cause of the issue seems to have been found and OP hasn't answered in 2 months.

[2019-08-21 13:30] #538 closed

[2019-08-21 13:57] GitSquared commented on #564
I've taken a bit of a break from open-source work in the last month or so. I'm starting to slowly start working on stuff again.

Point 1: Will look into this, I already know about an Electron API that essentially works like a cross-platform `xdg-open`.

Point 2: I'm not sure how you'd want this feature to work, UX-wise. eDEX's pointer selection is always kept focused on the terminal, and you can't

[2019-08-21 14:01] #536 closed

[2019-08-22 17:47] acul009 commented on #564
Thank you for your response and sorry about 4. I didn't realize I could do that.

The main reason for wanting a copy feature is that changing between mouse and keyboard is annoying. Depending on how much work you want to put into it I could think of a few things that could help:

1) On right click copy the path into clipboard for later use. That way I could just go into the directory I want to cop

[2019-08-22 18:48] GitSquared commented on #564
eDEX is primarily designed for touchscreens, and as a laptop user using the touchpad is much less annoying than reaching for a mouse, so I never really thought about it. I can see the usefulness of such a feature for desktop setups now that you point it out.

In your second suggestion, what exactly would the `$copyFrom` variable be? I like the idea of custom keyboard shortcuts linked to terminal c

[2019-08-22 20:26] acul009 commented on #564
Sorry about the formatting. I only just realized the characters I used are reserved for code.

The variable in the example is created using the `read copyFrom` command. It just waits for user input and saves that in a variable. The Powershell equivalent would be `$copyFrom = Read-Host`.

If I then press on a File the Filename is inserted and I just have to press enter.

I actually forgot this is d

[2019-08-23 12:41] GitSquared commented on #564
Right, got it. So the only features you'd need from eDEX itself is the ability to set custom keyboard shortcuts, and to print full paths instead of filenames.

Touch displays can simply use the touch keyboard to use shortcuts, so no additional UI should be required (apart of course from the settings menu to add custom shortcuts).

However, while this solves the issue of copying stuff, you still ha

[2019-08-23 12:46] GitSquared commented on #564
One another thing I just realized about printing full paths though: except on windows, the file browser is always linked to the current working directory of the current tab. Why would you *need* full paths then?

[2019-08-23 16:51] acul009 commented on #564
I need a full path because I won't be in the right directory when I'm pasting.
e.g.:
`/home/user/pictures` -> `/run/media/user/Volume/pictures`
when copying I'm in `/home/user`, but when pasting I'm in `/run/media/user/Volume` and the command can't find the original folder anymore.

As for still needing the mouse: Shortcuts are easy to use with just one hand. I only need both of them for typing. I

[2019-08-23 17:55] GitSquared commented on #564
OK, that makes sense.

In a terminal context, I'm not sure what else you'd be doing other than typing, once you copied your file. I'll need to check some things first to see how hard that feat would be to implement - and what possible limitations it could have - but it would seem like a cool addition indeed.

You're very welcome, and kudos for mentioning Hacknet. I love that game.

I'll keep this

[2019-08-26 17:14] GitSquared commented on #564
So far:
 - Pressing `ctrl` (touch or phy keyboard) when clicking a file will open it externally, similar to `xdg-open`.
 - Clicking a file will print it's full path to the terminal, unless it's a directory or a special-action file like eDEX's settings storage.
 - Pressing Ctrl+Shift+F (touch or phy) will open up a fuzzy search box for everything in the current CWD (no need to use the mouse!)
 - Th

[2019-08-27 11:04] mflux commented on #390
I, too, would love to use this in vertical mode. Please support this! I am using this at work and have dual monitors in vertical configuration.

The layout could look like this and would be really elegant:

![Screenshot from 2019-08-27 12-03-57](https://user-images.githubusercontent.com/1041360/63766313-d092c100-c8c2-11e9-9d55-e054e9e75e72.png)

[2019-08-27 12:41] GitSquared commented on #390
@mflux Sadly I have more important stuff to prioritize right now so I don't think I will implement this myself.

If you know a bit about CSS and are willing to take the time, it should be easy to make a custom theme that will apply the layout you proposed. I can provide you with some instructions if you want to do it.

[2019-08-29 19:13] shinenelson commented on #537
I've had the same issue on a GNOME system as well. I don't think GTK / Desktop Environment (DE) is related.

However, unlike in the ISSUE-TEMPLATE, though I'm running from the latest `master` revision ( as of writing ), the version I'm running is `v2.2.3-pre`. ( Is that an issue with the ISSUE-TEMPLATE, maybe? ).
I guess the OP should have also changed the option to `latest` since the version in t

[2019-08-29 20:26] GitSquared commented on #537
@shinenelson The version on the master branch is the one that's out of sync; I should bump it to v3.0.0-pre since there are some breaking features coming in the next version.

Indeed, thanks for pointing out that OP's version is v2.2.2.

I'm not entirely sure but I believe this bug is caused by a non-compatibility between the bundled Electron version and the GTK version of the system. It will prob

[2019-08-30 15:43] veeshi commented on #394
Possible bug, when the keyboard is re-enabled using ctrl-shft-p the shift key is highlighted, even if another key is pressed, until shift is pressed again which unhighlights it

[2019-08-30 15:57] GitSquared commented on #394
@veeshi on which version does this happen?

[2019-09-02 10:29] GitSquared commented on #537
Electron was updated in 787cb3b - this should now be fixed on master.

[2019-09-02 10:50] GitSquared commented on #561
Sounds like something failed in the archive download, which means there's nothing to fix on this side.
I just pushed to the `edex-ui-git` AUR package; I recommend you try this one as it's more up to date.

Please reopen if it ever happens again.

[2019-09-02 10:50] #561 closed

[2019-09-02 11:01] GitSquared commented on #565
Closing; this is bad configuration on the user's side. Fix your python exec path and everything should work.

[2019-09-02 11:01] #565 closed

[2019-09-02 12:54] #566 closed

[2019-09-02 12:55] GitSquared commented on #566
Thanks for the report. Fix will ship in next release, and is already available on the `master` branch.

[2019-09-02 13:02] GitSquared commented on #505
This thread is starting to rot and is not really relevant due to the changes in the shell path finder that I committed in the past few months. I'm going to close it.

***If you're having this issue, do the following:***

- Check the `shell` value in your configuration file (see this repo's wiki for up-to-date information about where to find it), verify that there is a valid path to powershell/cmd/

[2019-09-02 13:02] #505 closed

[2019-09-02 13:14] GitSquared commented on #544
This should be fixed and/or mitigated by the recent Electron (and Chromium) upgrade that I pushed to master.

@postables @arquadrado Could one of you guys try to run the latest dev version¹ and tell me if you still experience the issue?

[1]: [Here's a fresh AppImage.](https://send.firefox.com/download/88ebcbb7386c6acb/#NH3NXFC3wjtA1tzEmdfIlQ)

[2019-09-02 14:28] GitSquared commented on #564
WIP:

![Screenshot_20190902_162701](https://user-images.githubusercontent.com/24496417/64121253-97fd5680-cd9e-11e9-9314-1f077d0f3d1a.png)

[2019-09-02 17:00] croxis commented on #561
Tried the AUR and git, same issue. Nothing is being extracted to node_modules. I make the .staging directory manually and still nothing is being populated, so something is very broken on my end. Thanks for the help though!
 Here is the log: https://termbin.com/2heq

[2019-09-02 17:12] GitSquared commented on #561
I read your log but can't find anything that could help me understand what's going on...

Maybe you have a cache somewhere that's sending empty or corrupted data? Or maybe a firewall is blocking some of NPM's requets?

[2019-09-02 20:27] shinenelson commented on #537
Unfortunately, the latest `master` still doesn't resolve the issue for me.

What's even more annoying is that the process captures the Ctrl + C modifier even before the UI is initialized, so the only way to exit the process is to close the terminal session.

[2019-09-03 01:10] Destructor1702 opened #574 "Not loading after reboot"
Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what's u

[2019-09-03 02:18] JackTheMico opened #575 "How to make tmux works with cygwin on Windows envirnment?"
Hi, thank you for created such a great project.
I'm using it on Windows10 and with cygwin, so my shell config value is "D:\cygwin64\bin\bash.exe".
When I try to use tmux, it shows error like this:
![image](https://user-images.githubusercontent.com/19216598/64139506-b1041700-ce33-11e9-9c93-0a9ebecb343d.png)
It seems like edex-ui doesn't support full tty emulation like [here](https://stackoverflow.c

[2019-09-03 02:20] JackTheMico commented on #575
By the way, tmux will work fine on cygwin's mintty, it just cannot work on edex-ui.
![image](https://user-images.githubusercontent.com/19216598/64139698-59b27680-ce34-11e9-805a-6af78223a0bf.png)

[2019-09-03 07:12] veeshi commented on #394
Latest version, v2.2.2

[2019-09-03 07:35] GitSquared commented on #537
@shinenelson It captures the keyboard input, so you do see a window appear, right?

Could you forward me your logs from the terminal please

[2019-09-03 07:39] GitSquared commented on #574
`Error: Configured cwd path does not exist.`
Did you change some settings before you exited eDEX? Check that the `cwd` value in your [settings file](https://github.com/GitSquared/edex-ui/wiki/settings.json) is a valid path.

Also, it seems like you're running eDEX as root. You probably have reasons to do so, but I'd advise against it.

[2019-09-03 07:48] GitSquared commented on #575
eDEX does support full tty emulation, and tmux works fine on *nix systems:
![Screenshot_20190903_094224](https://user-images.githubusercontent.com/24496417/64153499-510b7180-ce2f-11e9-83a0-f6dce66aad24.png)

I do not know how the cygwin bash emulation works on window, but it could be that you're missing an environment var. Could you give me the output of running `env` in eDEX?

[2019-09-03 07:53] GitSquared commented on #394
I can't reproduce this behavior. What keyboard layout are you using? @veeshi

[2019-09-03 08:03] JackTheMico commented on #575
Here it is.
[code]

[2019-09-03 08:37] GitSquared commented on #575
@JackTheMico Could you run the same on mintty?

The `TERM` var seems correctly set, so I'm not really sure what's preventing tmux from accessing the TTY. From what I've looked up, cygwin's tty handling might be non-standard.
Perhaps using wsl's bash.exe will work?

[2019-09-03 08:45] JackTheMico commented on #575
Here's what I got for run the same on mintty
[code]
I tried tmux on wsl's bash and it works normally.

[2019-09-03 08:52] GitSquared commented on #575
Can you try to run this in edex:
`export TERM=xterm tmux`

[2019-09-03 09:08] JackTheMico commented on #575
![image](https://user-images.githubusercontent.com/19216598/64159774-4f609e80-ce6d-11e9-9027-e61b4c30704f.png)
Still not working.

[2019-09-03 09:25] veeshi commented on #394
English UK, international Qwerty

[2019-09-03 11:07] shinenelson commented on #537
Do you mean the edex-ui window? No, it doesn't come up. If it did, I could safely assume that it was something on my end.
Yes, the keyboard capture happens, but the window doesn't appear. I tried looking at the system logs to see if there was anything there, but there wasn't.

I don't understand what logs other than the `npm` logs you're expecting but here's a screenshot of my entire workspace try

[2019-09-03 20:29] Destructor1702 commented on #574
[code]

was working fine

[2019-09-03 20:39] Destructor1702 commented on #574
it has to do something with "~" on the path

and maybe relates to the other thing:

[2019-09-04 09:34] GitSquared commented on #575
Hmm. I don't really know what to tell you. Using wsl's version of bash as a shell in eDEX might make tmux work..?

[2019-09-04 09:46] GitSquared commented on #394
![ezgif com-gif-maker](https://user-images.githubusercontent.com/24496417/64244147-0f92c900-cef8-11e9-8edc-0c4eed504a66.gif)

Tested on both `master` (v3.0.0-pre) and v2.2.2. Anything unusual about your setup...?

[2019-09-04 10:17] GitSquared commented on #537
That is... weird. It should always react to interrupt sequences. Looks like it hangs in the middle of the startup process.

Here's a full runtime log of a working version (for comparison's sake):
![Screenshot_20190902_125225](https://user-images.githubusercontent.com/24496417/64246061-9f864200-cefb-11e9-9b98-d22d92c2230b.png)

Yours hangs somewhere between "settings loaded" and "creating terminal

[2019-09-04 10:21] GitSquared commented on #537
And yeah, you were right to point out earlier that it wasn't related to the GTK warnings in OP's logs. Seems like I didn't understand this correctly, sorry about that.

[2019-09-04 16:31] GitSquared commented on #574
I'm not sure that the `~` syntax is supported in the config file.
At what frequency did this reload glitch appear? Was anything being written to your home directory? The file explorer watches the directory it's in and reloads on changes.

[2019-09-04 22:38] shinenelson commented on #537
Aha, it makes some sense now. Coincidentally, I too was looking at `_boot.js` yesterday trying to figure what was happening ( though I had no clue how the code actually worked ).

Now that you've isolated the problem to the `shell-env` package. I think that's exactly where you have the issue since there's the `await` command there too.

I did some quick tests with whatever I had available readily.

[2019-09-05 02:19] JackTheMico commented on #575
It's ok. Thank you for your help. I will use tmux with wsl's bash, it works well!

[2019-09-05 02:19] #575 closed

[2019-09-05 09:28] GitSquared commented on #537
eDEX uses a two `package.json`s system; which used to be standard practice for `electron-builder` a few years ago. You should look in `src/package.json` and `src/node_modules`.

`shell-env` is hardcoded to parse the output of it's env-printing command by looking for what's between the two `_SHELL_ENV_DELIMITER_` prints.

I tried running [some bits of the shell-env source code](https://github.com/s

[2019-09-07 03:13] Destructor1702 commented on #574
loks lik it was a problem with my system IO after all

it takes one loop and restarts but, it may be a script writing on a hidden file

[2019-09-08 14:41] GitSquared commented on #574
OK. Issue closed then.

That is most likely the case. `fuser` on Linux will help you trace what is writing to your home directory if you want to.

[2019-09-08 14:41] #574 closed

[2019-09-10 15:22] flightcubs commented on #496
Having the same issue, thanks for the workaround. It didn't work for me with that path, but this one worked:`/usr/local/bin/fish`

[2019-09-10 19:38] ReagentX opened #577 "Support customizing keyboard shortcuts"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [X] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [X] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

C

[2019-09-10 19:43] ReagentX opened #578 "Support 12hr Time"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [X] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [ ] Shouldn't be too hard to make.
- [X] Like, *I* could do it.

---

I

[2019-09-10 19:46] GitSquared commented on #577
I'm actually working on implementing custom shortcuts for #564 - so far I didn't touch the old app shortcuts but it should be trivial to put them into the new shortcut system. Two birds one stone.

[2019-09-10 22:28] #578 closed

[2019-09-10 22:29] GitSquared commented on #578
![Screenshot_20190911_002444](https://user-images.githubusercontent.com/24496417/64654823-e69f9600-d419-11e9-83b8-156d89bd2a3b.png)

Done. Set `clockHours` to `12` in your [settings file](https://github.com/GitSquared/edex-ui/wiki/settings.json).
Only on `master` for now, of course. Will get bundled with all the other stuff in next release.

[2019-09-11 09:26] #544 closed

[2019-09-11 09:27] GitSquared commented on #537
@shinenelson

[2019-09-14 19:06] chaseWilliams opened #579 "Non-fullscreen option that only shows System and Network panels"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [x] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [x] Would need some work, but nothing impossible.
- [ ] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

I

[2019-09-14 19:24] GitSquared commented on #579
To transform this into a widget app, you'd have to make two different windows for each panel so you can put actual apps in-between.

This is not overly complicated to do and would require only deleting a whole bunch of code and moving some around, but I don't think it would make sense to do all this as an option in the app. eDEX *is* a terminal emulator, not a widget.

So I'm willing to give some

[2019-09-14 19:27] chaseWilliams commented on #579
If I were to fork and do this myself, any pointers for what I would need to do? I have worked a little bit with electron before, but that was only in following a tutorial essentially.

[2019-09-15 10:03] GitSquared commented on #579
@chaseWilliams Electron has two processes; "main" and "renderer" (Chromium window). In eDEX, the main process script is [`_boot.js`](https://github.com/GitSquared/edex-ui/blob/master/src/_boot.js) and the renderer is [`_renderer.js`](https://github.com/GitSquared/edex-ui/blob/master/src/_renderer.js).

The main process loads up the settings, starts the terminal backend *(and some multithreading he

[2019-09-15 10:08] #579 closed

[2019-09-20 17:19] DoggosGames opened #584 "How to activate World View and Network Traffic?"
I've been using eDEX since 2 days ago and I've been having some trouble with the World View and Network Traffic.

I've made the network traffic thing work once (by setting my adapter from monitor mode to normal and then restarting the service), I also activated world view but now I don't know how to activate them.

How do I activate them/What services are they related to?

[2019-09-21 15:14] GitSquared commented on #584
What version are you using? Latest release or `master`/`-git`?

[2019-09-21 15:18] DoggosGames commented on #584
I downloaded it some days ago from the releases tab, so I'm guessing I'm using the latest version (2.2.2)

[2019-09-21 17:31] GitSquared commented on #584
The network panel only needs to reach `1.1.1.1` (or an address specified in [settings](https://github.com/GitSquared/edex-ui/wiki/settings.json), `pingAddr`) for latency and WAN connectivity testing, and `freegeoip.app` (mostly for the world view) to locate remote IPs you are connected to.

Also, you need to specify the correct network interface in the settings if the autodetection doesn't work -

[2019-09-22 11:38] DoggosGames commented on #584
Ok, I'm gonna check the settings file to see if somethings wrong, there.

Also, the default interface is wlan0, and It's correct as it's my network adapter that I use.

[2019-09-23 09:01] GitSquared commented on #584
@DoggosGames Any firewalls or proxies in yoyr setup?

[2019-09-23 14:51] DoggosGames commented on #584
for what I know I don't have any Proxies apart from Anonym8 (which I don't normally use) and there doesn't seem to be a firewall thats restricting access to eDEX

[2019-09-23 14:54] DoggosGames commented on #584
@GitSquared also, one thing to notice is that World View and Network Traffic do work on some specific networks (such as my highschool's) which I think is interesting, maybe it could be because of the private IP class? (<- not probable)

[2019-09-24 21:10] DoggosGames commented on #584
@GitSquared yes, I was talking about Anonym8. I'll try to boot into a live ISO of Ubuntu when I have some time. I'm running a Kali on my old laptop (I think it was i368, basically, 32 bit architecture).

Also, if Anonym8 really did leave some system-wide network configuration, I'll try to find it.

[2019-09-28 23:34] Xeddius opened #586 "Video Player (Proof it could work flawlessly)"
**Perceived idea awesomeness**
- [*] Wow, you don't have this yet???
- [ ] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [ ] Shouldn't be too hard to make.
- [*] Like, *I* could do it.

---
I

[2019-09-29 09:45] GitSquared commented on #586
Indeed, HTML5 video and img tags do wonders. I believe this was in your other thread - #481 ? Regardless, it should be easy to implement indeed.

I'm thinking of leveraging the existing Modal class (which is pretty mature by now) to make pop-ups.

[2019-09-29 14:14] #586 closed

[2019-09-29 14:15] GitSquared commented on #586
![Screenshot_20190929_160728](https://user-images.githubusercontent.com/24496417/65833783-7f139280-e2c3-11e9-9bfc-ee952f932368.png)

Nice, ain't it? Thanks for suggesting this (and providing a proof-of-concept).

[2019-09-29 14:16] GitSquared commented on #584
@DoggosGames Any update?

[2019-09-29 14:55] DoggosGames commented on #584
@GitSquared This is weird, really weird. Aparentelly it works now. I guess it must've been because of some package I installed recently (maybe Python Scapy?), well It's fixed now!

Thanks!

[2019-09-29 14:55] #584 closed

[2019-09-29 15:02] GitSquared commented on #584
Well, glad to hear it!

[2019-09-29 21:53] Xeddius commented on #586
That is absolutely beautiful! :D

[2019-09-29 22:10] Xeddius commented on #586
When making a video fullscreen it prints this error, but it does not affect functionality for the most part.
![Screenshot from 2019-09-29 18-08-08](https://user-images.githubusercontent.com/6382895/65840226-53ed6b00-e2e4-11e9-866e-72fbbeafe430.png)

[2019-10-01 09:14] GitSquared commented on #586
@Xeddius Weird, I can't always reproduce this - inconsistent behavior it seems. Also looks like a browser error since I don't have anything to trace. I'll look into it :+1:

[2019-10-03 17:23] j3st3r-LulzSec opened #588 "Can't open, SUID sandbox helper binary problem"
I did browse issues and couldn't find a similar issue the only way it'll let me run this is as root not regular user and only after restarting my whole system I must be doing something wrong when I duo click it wont open and when I try from terminal it says its running in the background although I killed all processes

[2019-10-03 17:27] GitSquared commented on #588
Distro? Machine specs? eDEX version?

[2019-10-03 17:36] j3st3r-LulzSec commented on #588
im running Parrot mate 4.7 debian / laptop / eDEX-UI.Linux.x86_64
id much rather build it locally versus running appimage but the instructions arent very clear to do so and i dunno what dependencies are involved

[2019-10-03 18:49] Chromecube commented on #588
Can you provide any logs? To me it sounds like a problem with the setup of your machine, but maybe the logs reveal some details.

In order to build eDEX-UI on Linux, use the steps described in the [README](https://github.com/GitSquared/edex-ui/blob/master/README.md):
1. npm run install-linux
2. npm start

Maybe this could give you additional insight.

[2019-10-03 19:10] Chromecube opened #589 "v.3.0.0-pre [win]: powershell.exe not found"
## Technical information
**Using version:**
 - [x] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [ ] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [x] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2019-10-03 20:10] j3st3r-LulzSec commented on #588
i rebuilt it however i dont want to run this root rebuild went good but heres the msg i get when i run (npm start)

✔ Rebuild Complete
╭─░▒▓    ~/De/edex-ui  on   master ▓▒░
╰─ npm start                                                                   ─╯

[3635:1003/160750.571922:FATAL:setuid_sandbox_host.cc(157)] The SUID sandbox helper binary was found, but is not configured correctly. Ra

[2019-10-03 20:22] j3st3r-LulzSec commented on #588
─ npm start                                                                 ─╯

sh: 1: electron: not found
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn
npm ERR! file sh
npm ERR! errno ENOENT
npm ERR! edex-ui@3.0.0-pre start: `electron src --nointro`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the edex-ui@3.0.0-pre start script.
npm ERR! This is probably not a problem with npm. There is li

[2019-10-03 20:28] GitSquared commented on #588
@j3st3r-LulzSec

The latest builds of Chromium embedded into Electron have sandboxing enabled by default. On Linux this requires permission to run unprivileged containers in "User Namespaces". Most distros now default to allowing the use of this kernel features for all users, but the default used to be to only allow *root* to access it.

To enable user namespaces for non-root users (from [ArchWiki

[2019-10-03 20:44] #589 closed

[2019-10-03 20:44] GitSquared commented on #589
I made the switch to `which`, as you suggested.
I don't keep scores (maybe I should), but kudos for writing the best report I've seen in months.

[2019-10-03 20:48] j3st3r-LulzSec commented on #588
I don't want to go that route and alter my kernel by lowering security it can cause user escalation and cause apps to break out

[2019-10-03 21:01] GitSquared commented on #588
This setting is default on most Linux distros now. If you don't trust it, I'm afraid you have no other option than to run eDEX as root.

I strongly recommend that you do not use any of the pre-sandbox eDEX releases as you'd expose yourself to way more serious security issues.

[2019-10-03 21:01] #588 closed

[2019-10-03 22:32] j3st3r-LulzSec commented on #588
So we can't even run Electron 6 on Debian and there is no way we're giving a chrome process root perms. The workarounds given are not sufficient from the user perspective.

    There are two workarounds:
 {1} Enable unprivileged access to CLONE_NEWUSER in your kernel. Some kernels support changing this with sysctl kernel.unprivileged_userns_clone=1.
There is absolutely no way messing with the cust

[2019-10-04 08:11] GitSquared commented on #588
I'm watching a PR working on that idea in `electron-builder`: https://github.com/electron-userland/electron-builder/issues/3872

I believe the security risks of enabling user namespaces are very limited now that they have matured a bit, but I do understand that this is still subject to debate. I will look into providing sandbox alternatives in eDEX, but I'd prefer this to be handled upstream.

[2019-10-04 13:39] NamasteJasutin opened #590 "eDex 90º portrait usability"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [ ] Would be super cool.
- [x] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [x] Would need some work, but nothing impossible.
- [ ] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

I

[2019-10-06 13:35] GitSquared commented on #590
See #390

[2019-10-06 13:35] #590 closed

[2019-10-06 19:32] EgyptianPhantom commented on #589
Nicklas it me ZBlackPhantom the dud you help improve him self in Java with the mimecraft plugins remember me? I lost access to my old account but I have got a new discord it's
EgyptianPhantom#0185 add me if you can "D

[2019-10-10 19:08] qqpp4130 opened #594 "i3-wm application popup function"
Hello, im new to edex-ui. In the i3-gap, application open window wont be broght to the front to be able to access to, i.e. zathura, chromium...
Is there any way of fixing?
The online statue of the earth turning plate is also shown as offline for all the time. I have checked the #503, but my network interface seems correct. Where should I procede?

Thanks!

[2019-10-11 10:39] Chromecube commented on #594
Hey there!

Just to clarify your problem: Are you trying to set up eDEX-UI in connection with [i3-gaps](https://github.com/Airblader/i3)? As far as I know, eDEX-UI is meant to be used in fullscreen only, as a result this is not a bug.

Without i3-gaps, windows should open as expected. [The current approach](https://github.com/GitSquared/edex-ui/blob/master/src/classes/filesystem.class.js#L327) to

[2019-10-11 13:32] qqpp4130 commented on #594
Thank you for the reply contributor!
The problem on the global plugin seems to be solved [mysteriously], but after using it I found futher buggs on the screen size affect on the terminal window.
setting.json:
`{
    "shell": "zsh",
    "cwd": "/home/jc/.config/eDEX-UI",
    "keyboard": "en-US",
    "theme": "tron-notype",
    "termFontSize": 17,
    "audio": true,
    "disableFeedbackAudio": false

[2019-10-11 13:57] GitSquared commented on #594
@qqpp4130 I noticed you're running the development version. Latest commit should fix the incorrect terminal size bug.

As for your issue with using `i3`, as @Chromecube pointed out eDEX is meant to be used in fullscreen, but you can use the [`allowWindowed` setting](https://github.com/GitSquared/edex-ui/wiki/settings.json) and press `F11` to switch to windowed mode - which might make more sense in

[2019-10-11 16:58] qqpp4130 commented on #594
Checked with new release, the building from npm falls on my device. The new console dialog is given below. During the running the error message is given when changing from fullscreen to window. The incorrectness of window size is still there. No difference whith using bash instead of zsh.

ℹ  info      With Node 10.11.0 and Electron 4.2.0
ℹ  info      Renderer is Chrome 69.0.3497.128
▶  Startup

[2019-10-11 17:00] GitSquared commented on #594
@qqpp4130 No, stay on the development version as you did previously, that's where I pushed the fixes.

[2019-10-11 17:15] qqpp4130 commented on #594
The developement version which is build from the source gives no debug Error on JSON, but the problem of the resize becomes to another.
When I resize to hight 025, here is what happend:
`ℹ  info      Resized TTY to  118 026
ℹ  info      Resized TTY to  118 025
`
or
`ℹ  info      Resized TTY to  117 024
ℹ  info      Resized TTY to  117 025
`
The second variable of window size will change 1 pixle wh

[2019-10-12 10:10] GitSquared commented on #594
@qqpp4130 It's trying to stay in a 16:9 aspect ratio to not break the UI. The bottom line bug still happens in normal fullscreen mode?

[2019-10-12 18:29] qqpp4130 commented on #594
Yes, it happens still. My computer is Yoga 720 Lenovo. This happens under KDE and also i3-gape. It happens in both wm so it is impossible to be the scaling of the windows.

On Oct 12, 2019, at 06:10, Gaby <notifications@github.com> wrote:

﻿

@qqpp4130<https://github.com/qqpp4130> It's trying to stay in a 16:9 aspect ratio to not break the UI. The bottom line bug still happens in normal fullscreen

[2019-10-17 22:18] militaryCoder opened #599 "Globe pins property error"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [ ] Windows
 - [x] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [x] I know what'

[2019-10-18 10:46] GitSquared commented on #594
@qqpp4130 Sorry for this little delay. Could you please try to pull the git repo and try again?

[2019-10-18 14:48] computamike commented on #481
How about a slack client?  Feel like I want to live in my Tron Desktop, and that includes sending slacks to my buddies.  Might have a go at it.. I mean... How hard can it be right?

[2019-10-18 18:40] militaryCoder commented on #599
Strange error because there is no 4129th symbol in the 1st string.

[2019-10-18 19:46] GitSquared commented on #599
@militaryCoder This is because the release code is minified. I'll investigate this tomorrow.

[2019-10-20 06:48] kalodis opened #600 "Unable to show Network Stats"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [ x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [ x] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know wha

[2019-10-20 08:10] GitSquared commented on #600
See [#503](https://github.com/GitSquared/edex-ui/issues/503#issuecomment-492370332)

[2019-10-20 08:10] #600 closed

[2019-10-21 06:42] qqpp4130 commented on #594
problem fixed! Thanks!.

[2019-10-21 06:42] #594 closed

[2019-10-22 11:22] FahRamatis opened #607 "Open other applications in eDEX UI"
I would like to be able to open firefox and other applications in edex-ui

[2019-10-22 13:24] GitSquared commented on #607
There has been some suggestions similar to this in #481, but unfortunately this is not feasible.

[2019-10-22 13:24] #607 closed

[2019-10-23 00:27] Xeddius commented on #481
@computamike Look into "https://github.com/erroneousboat/slack-term" it's a slack client for the terminal, something like that should work fine.

[2019-10-23 02:04] apoorvalal opened #608 "clicking file in file display pastes path without slashes into terminal"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x ] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [ x] Windows
 - [ ] macOS

WSL1 on windows 10 build 18362

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of

[2019-10-23 10:22] TDarkShadow opened #609 "Enforcing theme colors on zsh / terminal theme colours"
My apologies upfront if this was asked somewhere else, but I couldn't find it.

I'm using iTerm (and regular Terminal) occasionally outside Edex-UI, where I use the "powerlevel10k" (lean style) theme with some colours specified in my .zshrc file.
However, it seems that my zshrc file has priority on my theme colours (in my case, Tron), so I get my regular Term colours inside my (otherwise very mono

[2019-10-23 11:50] GitSquared commented on #609
I think your zsh theme might be using 24-bit true color - which eDEX doesn't support very well, meaning the colors are displayed but not themed. I'm looking into it but I don't think there is a way to disable true color support in eDEX, so you'd have to force ZSH to only use the basic 16 colors, perhaps by setting `TERM=xterm-16color`.

[2019-10-23 12:07] GitSquared commented on #608
I believed this was already fixed in `master`. I should publish a new release before the end of the year.

[2019-10-23 12:07] #608 closed

[2019-10-23 13:34] TDarkShadow commented on #609
Thank you, that does indeed solve it for eDEX.
And not sure if I use 24-bit but I do use xterm-256color.
For now, I'll be sticking with InjectCSS (thank you for that option) because I rather keep the colours in my regular terminal.

[2019-10-23 13:34] #609 closed

[2019-10-23 13:41] GitSquared commented on #609
@TDarkShadow You can set the `TERM` through eDEX's settings `env` property so that other terminals aren't affected.

[2019-10-23 14:05] TDarkShadow commented on #609
My god, thank you! I'll be sure to buy you a coffee alright. Thank you so much!

So to be sure, I'll just have to add `"env: [TERM="xterm-16color"],` to my settings then?
Aside from some possible theme settings I have to alter.

[2019-10-23 14:20] GitSquared commented on #609
The syntax should be something like this, using JSON objects:

[code]

I just looked at the code that parses this to refresh my memory and unfortunately it seems like this currently won't work - some env properties, including `TERM`, are currently hardcoded over the user's settings.

If you're using the v3.0.0-pre (straight from github) version of eDEX I could push a fix for this right now, otherw

[2019-10-23 14:37] TDarkShadow commented on #609
Well, currently I'm trying eDEX out on my MacOS 10.15 i386 but I'm planning to also try it out on my Win10 system later this evening, where I have the same zsh theme running.
So I'll gladly wait until you have time to fix it. It isn't critical either, just a visual bug.

[2019-10-23 14:59] TDarkShadow commented on #609
I get that. That's fair.
If you manage to push it to the development, I'll build it probably tommorow.
Thanks again for the great support 👍

[2019-10-24 06:17] romkatv commented on #609
FYI: By default, Powerlevel10k uses 256 colors but not truecolor. Unless you've manually changed some colors to `#xxxxxx` format, your prompt shouldn't have truecolor (24 bit color) in it.

[2019-10-24 06:28] GitSquared commented on #609
@romkatv I think any color outside of the 16-colors range isn't modified by eDEX theming. I'm going to look into addressing this.

[2019-10-24 06:43] romkatv commented on #609
That makes sense. It would be consistent with all terminal color schemes I've ever come across. I always considered it a feature: when I want to print something with a color from the current color scheme, I use one of the first 16 colors; when I want to print with a fixed color, I use color >= 16.

[2019-10-24 07:12] TDarkShadow commented on #609
Huh, that's also a good solution. I only very recently started using ZSH and PowerLevel so not sure if I get to it, but that's maybe a better way until v3 of eDEX comes out. Thanks.

[2019-10-24 07:22] GitSquared commented on #609
@TDarkShadow I pushed the fix for this, by the way.

[2019-10-24 07:33] romkatv commented on #609
@TDarkShadow This might be useful: https://gist.github.com/romkatv/afdbb534051304ef0e2e85a46adb276f. This script turns the regular "Classic" powerlevel10k style into "Monochrome".

Here's how it looks with **White on Black** color scheme:

![white-on-black](https://user-images.githubusercontent.com/1282067/67462889-b0704b80-f640-11e9-89a1-3077f16a70a1.png)

**Tango Dark**

![tango-dark](https://us

[2019-10-24 07:42] TDarkShadow commented on #609
I'll probably edit the colours because I want to keep color in my terminal(s) outside eDEX.
But thanks again for the tip. Might be useful in the future if I change my mind 😅

[2019-10-24 10:46] TDarkShadow commented on #609
@GitSquared I've build from source, but even with the above config you said to do, it appears to still use my original colour settings.
My settings.json;
[code]
My theme;
[code]

[2019-10-24 10:55] GitSquared commented on #609
@TDarkShadow There's a missing `,` at line 6 in the `settings.json` you copy-pasted

Other than that, can you run `env` to confirm that the var isn't being applied?

[2019-10-24 11:13] TDarkShadow commented on #609
@GitSquared Pardon, there is a comma in my settings on line 6. Just didn't copy pasted correctly.
The var isn't being applied, the env commes gives these (relevant) values;
[code]

[2019-10-24 17:41] GitSquared commented on #609
@TDarkShadow My apologies, looks like I missed something in my previous commit. It should work now - and I tested it. Just `git pull` and build it again.

[2019-10-24 17:41] vishal3063824 opened #610 "edex-ui is not opening in window 10 ?"
I'm using window 10. I downloaded edex-ui 2.2.2 and installed. But edex-ui is not opening in my system.

[2019-10-24 20:21] Chromecube commented on #610
It would be super cool if you could provide some logs and further details to help understand your problem a bit better 😄

[2019-10-25 08:22] TDarkShadow commented on #609
@GitSquared I'm afraid it still doesn't work for me. Still appears with the colours in my theme.
Double-checked if I git-pulled, rebuild and ran the correct build.

[2019-10-25 10:52] GitSquared commented on #609
@TDarkShadow Did the env succesfully apply?

![Screenshot_20191025_125213](https://user-images.githubusercontent.com/24496417/67565683-8a68ab00-f715-11e9-8515-9d8e713f86ce.png)

[2019-10-25 10:53] GitSquared commented on #610
Try launching eDEX from a terminal (cmd/powershell) to get more detailed logs.

[2019-10-25 11:34] TDarkShadow commented on #609
@GitSquared Nope, still 256 colour.
<img width="580" alt="afbeelding" src="https://user-images.githubusercontent.com/5389859/67568201-db839980-f72b-11e9-8114-a4e9c6422a01.png">
[code]

[2019-10-25 12:20] GitSquared commented on #609
😕 Either there's some OS-specific bug in `node-pty` or there's something wrong with your build.
Could you give me the output of running `git log --oneline -n 1` in your clone? Just want to make sure you're really up to date.

[2019-10-25 12:24] TDarkShadow commented on #609
@GitSquared Possibly 😅 and ofcourse, thanks again for the troubleshooting.
<img width="566" alt="Screen Shot 2019-10-25 at 14 23 06" src="https://user-images.githubusercontent.com/5389859/67571012-2b199380-f733-11e9-9b14-9bf4450876ba.png">

[2019-10-25 15:36] GitSquared commented on #609
@TDarkShadow Looks fine. Could you delete the `dist` directory and build again, or simply run from source with `npm start`?

[2019-10-28 08:12] slayerIzealot opened #611 "Windows 7 _64"
Windows 7 _64. installation without problems, start is impossible, hangs in processes, but nothing happens, run from provershell displays such a screen, installation and start as
![123](https://user-images.githubusercontent.com/57087822/67662123-6a322980-f96b-11e9-911d-29d2fa91c71d.jpg)
 administrator

[2019-10-28 08:34] #537 closed

[2019-10-28 08:39] GitSquared commented on #611
Seems like shell autodetection failed on your system and eDEX can't find a valid shell to start.

You should edit your [settings file](https://github.com/GitSquared/edex-ui/wiki/settings.json) and replace the `shell` value with a valid full path to powershell or cmd.

Check this: https://github.com/GitSquared/edex-ui/issues/505#issuecomment-527140337

[2019-10-28 08:41] GitSquared commented on #610
You might be experiencing the same issue as #611

[2019-10-28 09:16] TDarkShadow commented on #609
@GitSquared Sorry for the slow answer. I deleted my `dist` and tried both the running command as the build command. Still have the same problem.

I don't expect this to be fixed soon because like you said, eDEX is built for the classic 16 colour terminal so I'm already grateful you looked into this matter at all.

[2019-10-28 09:17] GitSquared commented on #609
Hopefully the next release will have this addressed with the commits I pushed.

I'll look into possible `node-pty` bugs in the meantime.

[2019-10-28 10:40] bdgza opened #612 "External monitor support"
Running on a Mac with external displays this program only shows on the main display, and leaves external displays untouched. It would be cool if other monitors are also used, blacked out, or displaying something. Or have some option to choose what to do with external displays.

[2019-10-28 10:42] GitSquared commented on #612
You can switch the monitor that the UI spawns in with the `monitor` setting (open the menu with `Ctrl+Shift+S`).

Multi-monitor support is a planned feature; I'll keep your issue around to track it.

[2019-10-28 12:12] slayerIzealot commented on #611
Configured cwd path does not exist.
{"shell":"powershell.exe","C:\WINDOWS\system32\WindowsPowerShell\v1.0"
although the program is there

[2019-10-28 12:27] GitSquared commented on #611
Should be:
[code]

[2019-10-28 13:34] slayerIzealot commented on #611
[ ]  pending   Loading settings file...
тИЪ  success   Settings loaded!
(node:4580) UnhandledPromiseRejectionWarning: Error: Configured cwd path does not exist.
    at App.app.on (C:\Users\***\AppData\Local\Programs\edex-ui\resources\app.asar\_boot.js:168:56)
    at App.emit (events.js:187:15)
(node:4580) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either b

[2019-10-28 16:36] GitSquared commented on #611
Are you sure the path exists?

[2019-10-29 10:00] slayerIzealot commented on #611
C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wbem;%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\
system path

[2019-10-29 10:04] GitSquared commented on #611
Could run the following in powershell:
[code]
It should give you the correct path to use for eDEX's config.

[2019-10-29 10:16] slayerIzealot commented on #611
C:\Users\AAA>where.exe powershell.exe
C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe

[2019-10-29 10:20] GitSquared commented on #611
`settings.json`:
[code]

This should work.

[2019-10-29 10:27] slayerIzealot commented on #611
(node:4296) UnhandledPromiseRejectionWarning: Error: Configured cwd path does not exist.
    at App.app.on (C:\Users\AAA\AppData\Local\Programs\edex-ui\resources\app.asar\_boot.js:168:56)
    at App.emit (events.js:187:15)
(node:4296) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing insi
de of an async function without a catch block, or by rej

[2019-10-29 10:32] GitSquared commented on #611
¯\_(ツ)_/¯ I dunno man. Double-check the path, including capitalization and all. `where.exe` will help you. Perhaps try `cmd.exe` instead of `powershell.exe`.

[2019-10-29 12:52] FaneTheEternal opened #618 "change the greeting note"
Hi, I'd like to change the greeting note to a different name

[2019-10-29 16:15] GitSquared commented on #599
Sorry for the delay. I traced the error back to this line (`v2.2.2` branch):
https://github.com/GitSquared/edex-ui/blob/590c67518a2c3fc3f0f1f0c6adc401c763b1d516/src/classes/locationGlobe.class.js#L191

So it seems in your case `this.globe` was undef, which means this failed:
https://github.com/GitSquared/edex-ui/blob/590c67518a2c3fc3f0f1f0c6adc401c763b1d516/src/classes/locationGlobe.class.js#L31-L

[2019-10-29 16:22] GitSquared commented on #618
Set your `ENV` accordingly.
[code]

For Windows, I'm unsure what the equivalent of `export` is, but it should work in about the same way.
Feel free to ask if you have any other question.

[2019-10-29 16:22] #618 closed

[2019-10-30 07:04] militaryCoder commented on #599
@GitSquared I'm using **MacBook Pro** under MacOS **10.11.6** which is installed with **Intel Core i52.3 GHz**, **8 Gb RAM DDR3 1333 MHz** and **Intel HD Graphics 3000 with 512 Mb VRAM**.

[2019-10-31 10:36] GitSquared commented on #588
@j3st3r-LulzSec It's been a while, but a quick update on this: the upstream PR I mentioned has been merged and the next release of eDEX should fix any sandbox issues on Linux.

[2019-10-31 11:19] j3st3r-LulzSec commented on #588
Thanks for the update

Sent from ProtonMail mobile

-------- Original Message --------
On Oct 31, 2019, 6:36 AM, Gaby wrote:

[2019-10-31 12:49] #611 closed

[2019-10-31 12:50] #610 closed

[2019-11-02 02:38] scriptkiddie3141 opened #619 "Globe not loading on MacOS"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [ ] Windows
 - [x] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [x] I know what'

[2019-11-02 17:32] GitSquared commented on #599
@militaryCoder Thanks for the info. You're experiencing a GPU compatibility bug that was fixed upstream, unfortunately you'll need to wait for the next eDEX release to get the fix - or you could try building from source.

[2019-11-02 17:32] #599 closed

[2019-11-02 17:35] GitSquared commented on #619
You're right. This issue should be fixed in the development version of eDEX, which has merged a lot of upstream framework (Electron) updates, notably a bunch of GPU-compat related stuff.

You can either wait for the next release or attempt to build the software yourself (instructions in README).

[2019-11-02 17:35] #619 closed

[2019-11-04 12:55] Zireael07 opened #620 "Filesystem scrollbars not functional (no mouse-click or mouse-drag)"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [x] I know what'

[2019-11-04 12:56] Zireael07 opened #621 "Option to start windowed"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [ ] Would be super cool.
- [x] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [x] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

W

[2019-11-04 13:20] GitSquared commented on #620
You can just use your scroll wheel or swipe with a touch screen. I'll see about fixing this bug though.

[2019-11-04 13:23] Zireael07 commented on #620
No scroll wheel or touch screen here, unfortunately :(

[2019-11-04 13:27] GitSquared commented on #620
(Are you using a trackball or something?)

[2019-11-04 13:35] Zireael07 commented on #620
Trackpad on a 14" notebook

[2019-11-04 13:56] GitSquared commented on #620
Doesn't two-finger scrolling work?

[2019-11-04 13:57] MohammedAlbaqerH commented on #620
unsubscribe.

Sent from Mail for Windows 10

From: Gaby
Sent: Monday, November 4, 2019 4:56 PM
To: GitSquared/edex-ui
Cc: Subscribed
Subject: Re: [GitSquared/edex-ui] Filesystem scrollbars not functional (#620)

Doesn't two-finger scrolling work?
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-04 17:10] Chromecube commented on #621
Please refer to [this comment](https://github.com/GitSquared/edex-ui/issues/594#issuecomment-541075488) in #594 :smile: This feature already exists!

[2019-11-04 17:12] GitSquared commented on #621
@Chromecube Indeed, but you can't *start* the app in windowed mode yet.

[2019-11-04 18:26] Zireael07 commented on #620
Two finger scrolling does work (just checked).

I updated issue title to reflect that the problem is only with typical mouse behavior.

[2019-11-04 20:03] Chromecube commented on #621
Sorry about that. I will make a PR tomorrow to add that feature.

[2019-11-04 20:47] #620 closed

[2019-11-04 20:48] GitSquared commented on #620
Fixed on `master`. Wait for the next release, or build the git version from source. There's also the `edex-ui-git` AUR package on ArchLinux, or you can use two-finger scrolling :^)

[2019-11-04 21:04] GitSquared commented on #594
@qqpp4130 I pushed a new setting that you might be interested in: `keepGeometry` - set it to `false` to disable the aspect-ratio lock in windowed mode.
This should help integrate better with i3 & other tiling WM - beware of broken UI in eDEX, though.

[2019-11-04 21:08] GitSquared commented on #621
@Chromecube It'd be great if you could make it so that previous window state is resumed when `allowWindowed` is on - i.e if the last time eDEX stopped it was windowed, start it windowed.
This would prevent adding yet another niche settings option.

[2019-11-04 21:57] qqpp4130 commented on #594
That will be so helpful! Thank you!

在 2019年11月4日，16:04，Gaby <notifications@github.com> 写道：

﻿

@qqpp4130<https://github.com/qqpp4130> I pushed a new setting that you might be interested in: keepGeometry - set it to false to disable the aspect-ratio lock in windowed mode.
This should help integrate better with i3 & other tiling WM - beware of broken UI in eDEX, though.

—
You are receiving this be

[2019-11-05 07:59] Chromecube commented on #621
Just created the PR, I hope the way I implemented this meets your expectations.

[2019-11-05 11:08] #621 closed

[2019-11-06 04:03] KittyTechnoProgrammer opened #626 "TypeError: e.IndexOf is not a function"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [x] I'm kind of lost, honestly
 - [ ] I know what'

[2019-11-06 09:46] GitSquared commented on #626
Did you modify any configuration? Does this happen on every attempt to open a new tab?

[2019-11-06 22:08] KittyTechnoProgrammer commented on #626
this apparently happens every time i use the tron-colorfilter.json theme.

[2019-11-07 06:01] docjuhnk commented on #626
I confirm. So far I have only seen this error using the tron-colorfilter.json theme.

[2019-11-07 19:11] vishal3063824 commented on #610
E-DeX is not even starting after so many try so how can I give any log
report. It even don't show any running task in task manager.

On Fri, 25 Oct 2019, 01:51 Niklas Arndt, <notifications@github.com> wrote:

[2019-11-07 19:47] GitSquared commented on #610
Launch the .exe from a cmd or powershell command line to get debug output.

[2019-11-07 21:34] GitSquared commented on #626
This is the same issue as #566. This bug has been fixed in 88f5eed, which will ship with the next release, coming out before the end of the year.

In the meantime if you want to use terminal color filters without breaking the tabs feature, you can build the `master` source.

[2019-11-07 21:34] #626 closed

[2019-11-08 04:10] KittyTechnoProgrammer opened #627 "Supporting Cyber Security"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [x] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [x] Would need some work, but nothing impossible.
- [ ] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

H

[2019-11-08 09:25] TDarkShadow commented on #609
@GitSquared My apologies for the ping, but I thought you maybe wanted an update on my status.
Today, I reinstalled my Xcode (cli tools only), rebuild eDEX-UI, and now it is working.
I think it was indeed a node-gyp bug that was caused by the Catalina upgrade.
Thanks again for the troubleshooting.

[2019-11-08 10:50] GitSquared commented on #609
@TDarkShadow Thanks for the update. Glad it worked out in the end!

[2019-11-08 21:40] clragon commented on #627
Have you done any "cyber security" yet?

I feel like the things you list don't need a seperate UI from edex, those can all be achieved by using using for example the different tabs it has, using something like tmux to split your terminal, using some bash scripts to update things etc...

And if you want to be really fancy with it, you can wait for the module system to be available, or even actively

[2019-11-08 22:23] clragon opened #628 "build failure?"
I can't seem to get the build process to work on my machine. I want to help find bugs in the newest versions and since the last release is quite a while ago, I am trying to build myself.

I installed node.js 13.1.0 and with npm ajv-keywords which seemed to be a dependency.

[code]

This is what my console output looks like (nothing interesting)

and this is the log file it pointed to:

[code]

Doe

[2019-11-09 02:42] KittyTechnoProgrammer commented on #627
Yes, I've tried creating GUI's as well for certain tools. I love hexchat for it allows easy control of devices over IRC. However metasploit, empire, etc... Allow connections over a multitude of protocols. I like going old school with the terminal most of the time, but when it's late you just wanna slow down, I had an idea. What if you made it look more like a video game. When I'm working on a targ

[2019-11-09 02:45] KittyTechnoProgrammer commented on #627
Also Like the idea of location tracking in the globe for connections being made, but I notice some bugs if you would want me to report it?

[2019-11-10 13:08] GitSquared commented on #628
Looks to me like `rmdir` sent an error code because there was no `src/node_modules` folder to clean up, which halted the whole script.

I don't build on Windows often - actually, I haven't since I got CI builds finally working for win32 - so the `package.json` build script and/or the readme instructions might be a bit rotten.

Try running `npm run install-windows` before following the build instru

[2019-11-10 13:30] #628 closed

[2019-11-10 13:49] clragon opened #629 "File browser issues"
## Technical information
**Using version:**
 - `master` (running from GitHub-published source code, currently `v3.0.0-pre`)

**Running on:**
 - Windows

**How comfortable you are with your system and/or IT in general:**
 - My machine is fully under my control, tell me what you need

---

## Problem

![36670456](https://user-images.githubusercontent.com/11785085/68544835-71275600-03c7-11ea-88c5-122

[2019-11-10 14:01] clragon commented on #629
Another issues: pictures (png, jpg, gif) aren't displayed:
![35487712](https://user-images.githubusercontent.com/11785085/68545169-ca44b900-03ca-11ea-81e3-bb397d503436.png)
![28200642](https://user-images.githubusercontent.com/11785085/68545170-ca44b900-03ca-11ea-8bd9-eddb66d092cb.png)
Neither are videos:
![17587148](https://user-images.githubusercontent.com/11785085/68545173-ce70d680-03ca-11ea-92

[2019-11-10 14:04] GitSquared commented on #629
Shift+Ctrl+C/V?

I'm looking into the other issues, hold on.

[2019-11-10 14:06] clragon commented on #629
Found another issue:

Going up to the top level of your folders, so far that "go up" doesnt show anymore, then going to the disk display and _exiting_ it will result in a weird issue, where all folders are broken.
like this:
![46070010](https://user-images.githubusercontent.com/11785085/68545246-89996f80-03cb-11ea-9194-3d993052e84d.png)

clicking them will paste their path, however things like "sh

[2019-11-10 14:09] GitSquared commented on #629
This might work for you depending on how your FS is set up but I don't want to go up 20 directories to access the USB I just plugged in.

[2019-11-10 14:12] clragon commented on #629
Very fair point. The exit button could still be removed then, basically making it a directory. I do not know how compatible this is over OSes, like i said though

[2019-11-10 14:20] GitSquared commented on #629
The exit button is useful because it allows you to go back to where you were previously - it's actually more like an "abort" button.
This UX allows you to list the disks without switching to them, or abort the operation if you missclicked/touched and did not want to go somewhere else.

[2019-11-10 14:21] clragon commented on #516
In the newest version, the issue seems to have returned for CTRL and ALT-GR?

[2019-11-10 14:35] clragon opened #630 "Tab reload crash"
## Technical information
**Using version:**
 - `master` (running from GitHub-published source code, currently `v3.0.0-pre`)

**Running on:**
 - Windows

**How comfortable you are with your system and/or IT in general:**
 - My machine is fully under my control, tell me what you need

---

## Problem

Reloading the app and opening a previously open terminal tab leads to a crash.

![12774246](https:/

[2019-11-10 15:00] GitSquared commented on #629
@clragon I pushed some changes to the way paths are retrieved and printed to the term; does that solve the issues you described in this issue's first post?

[2019-11-10 15:25] GitSquared commented on #629
Pictures *should be* fixed, too.

[2019-11-10 15:47] clragon commented on #629
![68115184](https://user-images.githubusercontent.com/11785085/68546712-b0f73900-03d9-11ea-83c1-6ec9e452a4b7.png)

It seems to be impossible to use the "go up" button anymore, failing with this error.

[2019-11-10 16:03] clragon commented on #629
edex pasting the path of a file into the terminal seems to be fixed now, and working well. Apostrophes seem to be handled correctly, too.

[2019-11-10 16:17] GitSquared commented on #629
I'm installing dev tools on a Window VM to check out the "go up" and "missing )" issues.

[2019-11-10 16:34] GitSquared commented on #516
@clragon Indeed, something got renamed and this broke. Fixing.

[2019-11-10 16:38] GitSquared commented on #630
Tabs state isn't saved between window reloads, which causes this.
Perhaps the main process could forward a list of open sockets via IPC?
Will look into this

[2019-11-10 16:49] clragon opened #631 "picture drag and drop"
## Technical information
**Using version:**
 - `master` (running from GitHub-published source code, currently `v3.0.0-pre`)

**Running on:**
 - Windows

**How comfortable you are with your system and/or IT in general:**
 - My machine is fully under my control, tell me what you need

---

## Problem

Pictures that have been openend in a pop up window can be dragged around, however there is no surfa

[2019-11-10 16:49] GitSquared commented on #629
@clragon I believe it's all fixed now. Tested on my shiny new VM. I'm closing this.

[2019-11-10 16:49] #629 closed

[2019-11-10 18:02] #631 closed

[2019-11-10 18:03] GitSquared commented on #631
This would be cool but might cause a bunch of conflicts with the xTerm renderer frontend - so I'm going with the easy solution for now.

Thanks for today's bug-hunting, by the way, you rock!

[2019-11-10 18:12] clragon commented on #564
Right click on a file to insert the path would be really useful, especially now since you cannot get the path of picture files anymore.

It would also help getting the path of directories, so this feature would be quite useful. I don't know how it would be implemented on touch, maybe long-tap? This is mostly a windows thing since the browser runs attached on linux anyways.

By the way, ctrl-clicki

[2019-11-10 18:21] GitSquared commented on #627
What OS are you running this on? On Windows, I notice the UI tends to lag out a bit sometimes, causing rapid-firing animations like the one you're talking about to slow down.

This is WIP, see #488 - no ETA yet but I'm currently rushing through prototypes hoping to get this done for eDEX's 1 year anniversary

No.

As @clragon rightfully pointed out, all you need is terminals - which eDEX already h

[2019-11-10 18:30] GitSquared commented on #564
@clragon Since we implemented Ctrl+Click as a way to `xdg-open` things, why not Shift+Click as a way to print the path, overriding any default action?
On touch devices, pressing ctrl/shift with the right hand and touching the fs display with the left hand produces similar behavior.

I will make Ctrl+Click override default actions, this is something I didn't think about when implementing it.

---

[2019-11-10 18:48] clragon commented on #564
![0164883](https://user-images.githubusercontent.com/11785085/68548959-13106800-03f3-11ea-8c39-fd6554867786.gif)

For some reason, right click also causes flashing as long as it is held down, by the way.

[2019-11-10 19:02] GitSquared commented on #564
Left-click does too. This is because of the way animations are fired. I'd rate this "not a bug, but a feature".

I implemented Shift+Click and made Ctrl+Click override default actions.

[2019-11-10 19:28] clragon commented on #564
Very cool, works nicely, would be even cooler when it would also work for folders though, imo.

[2019-11-10 19:47] GitSquared commented on #564
I think it does..?

[2019-11-10 19:52] clragon commented on #564
I would send you a video but its broken again.
Anyways, it doesnt work on my end, for sure...

[2019-11-10 19:57] GitSquared commented on #564
@clragon I just tested it on Linux & Win32. Ctrl+ and Shift+ click works, even on folders. Are you sure you pulled the last commits?

[2019-11-10 20:13] clragon commented on #564
@GitSquared just recompiled from master again, nothing. You did push the changes, right?

[2019-11-10 20:21] GitSquared commented on #564
@clragon I did, it's on 0062940.
*(by the way, you don't have to rebuild the app every time, right? `npm start` will do.)*

[2019-11-10 20:41] clragon commented on #564
@GitSquared I know. I just like to have the app installed.
Anyways, it doesnt work for me 🤔

[2019-11-11 14:37] #627 closed

[2019-11-12 07:43] kv96 opened #634 "MacOS multiple desktop clipboard issue"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [ ] Windows
 - [x] macOS

## Problem

Edex-UI is running in fullscreen mode and am currently working in another active desktop in my Mac. If am tr

[2019-11-13 16:13] ktjd123 opened #635 "macOs Catalina support"
I cloned master branch with last commit and built from source. and it won't run with catalina.

Is there support for macOS catalina?

[2019-11-13 16:53] ktjd123 commented on #635
release 2.2.2 works find

[2019-11-13 16:53] #635 closed

[2019-11-14 00:49] Solace7 opened #636 "Opening edex from rofi"
Technical information
**Using version:**
 - [x ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [ ] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x ] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [x ] I know what'

[2019-11-14 12:11] GitSquared commented on #636
Could you give me the output of running `/usr/bin/zsh -ilc 'echo -n "_SHELL_ENV_DELIMITER_"; env; echo -n "_SHELL_ENV_DELIMITER_"; exit'`?

[2019-11-14 12:17] GitSquared commented on #634
Could you enable `allowWindowed` in eDEX settings, press `F11` to exit fullscreen mode and check if this still happens?

[2019-11-14 16:59] Solace7 commented on #636
_SHELL_ENV_DELIMITER_AUTOJUMP_ERROR_PATH=/home/solace/.local/share/autojump/errors.log
AUTOJUMP_SOURCED=1
BROWSER=/usr/bin/firefox
COLORTERM=truecolor
DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
DESKTOP_SESSION=/usr/share/xsessions/awesome
DISPLAY=:0
EDITOR=vim
GTK_MODULES=canberra-gtk-module
HOME=/home/solace
LANG=en_US.UTF-8
LC_COLLATE=en_US.UTF-8
LC_CTYPE=en_US.UTF-8
LESS=-R
LOGNAME=s

[2019-11-14 21:29] GitSquared commented on #636
The error comes from [here](https://github.com/sindresorhus/shell-env/blob/a95fd441d3b7cc2c122899de72da30dae70936ec/index.js#L15), but I can't seem to reproduce it, even by emulating your env...

[2019-11-14 22:08] Solace7 commented on #636
Antergos. It's arch based.

[2019-11-14 22:43] #564 closed

[2019-11-14 22:43] #577 closed

[2019-11-14 23:00] GitSquared commented on #636
Perhaps Rofi is doing some cleanup on the env before launching programs.

Could you try putting that into a `.sh` or something and launching it from Rofi this time?

If there's no difference then we'll have to look somewhere else.

[2019-11-14 23:12] Solace7 commented on #636
[code]
Looks the same apart from some tmux information.

[2019-11-14 23:22] Solace7 commented on #636
I've installed dmenu which is similar to rofi and appear to have the same issue. So it isn't just rofi it seems.
Another thing that I'm noticing is that running `edex-ui` from rofi/dmenu spawns a couple other processes `edex-ui --type=zygote`. When I run it from the command line itself though, other processes are also started.

I see in the terminal "success Settings loaded!" but after that nothin

[2019-11-14 23:40] GitSquared commented on #636
Indeed, everything works with this one too...

This is expected.

Not even an error?

[2019-11-15 00:20] Solace7 commented on #636
No error.
I did some extra testing. I firstly tried loading edex-ui from GNOMEs application launcher. This did the same thing as rofi and dmenu.
I then created a new user, tried and it works fine. So something specific to my users configuration is what's causing it and not necessarily anything wrong with edex-ui itself. The exact cause I have yet to find out.

Whatever the case may be it'll be som

[2019-11-15 06:46] kv96 commented on #634
Enabling `allowWindowed` is solving the issue @GitSquared . Thanks for the solution!

[2019-11-15 10:09] #634 closed

[2019-11-22 18:22] Solace7 commented on #327
I've been using wpgtk to set my wallpaper and have a colorscheme generated by it. And I found a way to partially achieve what I was going for by creating a theme that gets changed everytime I change wallpapers. (The only thing I havent figured out how to change automatically is individual r,g,b values so they'd have to be changed manually), but if anyone wants to test it out, just install wpgtk. P

[2019-11-28 19:14] Shandun opened #643 "Could you let me change the directory at the bottom with the powershell command? Thanks."
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [ ] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [ ] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

(

[2019-11-28 23:46] GitSquared commented on #643
Unfortunately no. On *nix operating systems the filesystem module at the bottom-left of the screen follows the terminal around, but this is currently impossible to do on Windows.

Providing a command line tool to remotely change the directory in edex is out of the scope of this project.

[2019-11-28 23:46] #643 closed

[2019-12-02 15:28] swagersingh opened #648 "i have downloaded this terminal but it doesn't shows filesystem . please help me to show filesystem tab"

[2019-12-02 16:18] GitSquared commented on #648
screenshot, OS?

[2019-12-07 15:36] amahlaka opened #649 "HTML/JS Injection in color variable"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [x] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2019-12-07 16:55] #648 closed

[2019-12-07 17:18] amahlaka commented on #649
also allows executing system apps and commands with ```require('child_process').execFile('calc');```

[2019-12-07 18:33] #649 closed

[2019-12-07 18:34] GitSquared commented on #649
Fixed on `master`. FS-based injection attacks are not considered critical so this won't make an emergency release, but v3 should come out before the end of the year anyway.

You're looking for #334, which I'm currently looking into.

Thanks for reporting this!

[2019-12-07 20:40] acul009 opened #650 "Graphs Frozen/Globe invisible"
## Technical information
**Using version:**
 - [X] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [ ] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [X] Linux (Manjaro KDE)
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [X

[2019-12-09 21:16] tztl0 opened #654 "Network And World Globe Issue"
I'm using version 2.2.2 at Linux Mint 19.2, this is my `ifconfig` output:

eno1: flags=4099<UP,BROADCAST,MULTICAST>  mtu 1500
        ether 3c:a8:2a:b0:ad:c8  txqueuelen 1000  (Ethernet)
        RX packets 0  bytes 0 (0.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  dropped 0 overruns 0  carrier 0  collisions 0

lo: flags=73<UP,L

[2019-12-10 10:57] GitSquared commented on #650
Does this still happen when you focus the edex window? It might be some power-saving feature kicking in.

[2019-12-10 11:00] GitSquared commented on #654
Weird that it shows the data graph on the loopback device. Anything else you could point out on your setup? Some vpn configs, proxy, anything?

You could also try running the latest master and checking if this still happens. I can provide built AppImages if you want.

[2019-12-12 19:11] xzkeee commented on #654
I have this issue too. Version 2.2.2 at macOS 10.14 and 10.15, and firewall off. Says offline just like the picture. Every time open this app and system popup window ask if allow it connect the internet.

[2019-12-12 19:37] GitSquared commented on #654
@xzkeee That's on windows, so separate issue. You should allow edex to connect in the firewall pop-up window.

[2019-12-12 19:54] tztl0 commented on #654
I solved this by adding `GRUB_CMDLINE_LINUX="net.ifnames=0 biosdevname=0"` to `grub` file. It turns the wlan interface from wlo1 to wlan0 so app can detect the connection.

[2019-12-12 19:54] #654 closed

[2019-12-13 15:07] GitSquared commented on #636
This is probably not an issue with edex itself so I'm going to close this.
If you ever find out more about this I'd be curious to hear it though.

[2019-12-13 15:07] #636 closed

[2019-12-13 21:51] NerdyKyogre opened #655 "AppImage hanging on startup at "Settings Loaded" stage"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [x] I know what'

[2019-12-14 10:19] odmishien opened #656 "Can't do 'npm start' by some errors"
I got some errors when I do `npm start` after `npm install-linux`.
How can I do to fix it??

OS: MacOSX
errors:
[code]

[2019-12-14 18:07] #656 closed

[2019-12-14 18:08] GitSquared commented on #656
@odmishien I pushed a commit that broke edex on default themes - this has been fixed, just `git pull` & it should work now. Sorry!

[2019-12-14 18:13] GitSquared commented on #655
What shell are you using and what's the output of running `[shell] -ilc echo -n "_SHELL_ENV_DELIMITER_"; env; echo -n "_SHELL_ENV_DELIMITER_"; exit`?

Related: #537

[2019-12-16 19:28] NerdyKyogre commented on #655
using ZSH 5.4.2. Your command output the following (without the exit bit, that just closed my terminal):
COLORFGBG=15;0
COLORTERM=truecolor
DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
DEFAULTS_PATH=/usr/share/gconf/deepin.default.path
DESKTOP_SESSION=deepin
DISPLAY=:0
GDMSESSION=deepin
GDM_LANG=en_CA
GIO_LAUNCHED_DESKTOP_FILE=/usr/share/applications/org.kde.konsole.desktop
GIO_LAUNCHED_D

[2019-12-16 22:38] NerdyKyogre commented on #655
Interestingly, the same hanging occurs when compiled from source on 2.2.2 and 3.0.0-pre, and my virtual machine with ubuntu 18.04 and deepin did the same. However, the appImage works happily
on an ubuntu 19.10 vm with gnome.

[2019-12-17 19:21] GitSquared commented on #655
There's a `_SHELL_ENV_DELIMITER_` that's missing in the output you gave me - this is the same issue as #537 i think (but that one wasn't resolved).

Did the shell change on any of your test cases or where you always using zsh?

[2019-12-19 16:46] NerdyKyogre commented on #655
Kernel update to 5.0.0-37 fixed it. No clue why. Closed.

[2019-12-19 16:46] #655 closed

[2019-12-19 17:04] GitSquared commented on #655
Probably some Chromium sandboxing-related issue. Thanks for the update.

[2019-12-19 17:58] acul009 commented on #650
Unfortunately I can't tell anymore. I broke my installation and didn't have the time to fix it yet. right now I only get a black screen though the sound still works. Once I've repaired my installation I'll try to get it running again.

Thank you for the help :D

[2019-12-19 17:58] #650 closed

[2019-12-24 08:17] Footsiefat opened #663 "Please tell us how to change the advanced settings for themes"
So you have explained the basics very well, but you haven't explained (on the wiki) how to inject stuff with <style> tags, like if I wanted to change how it greeted me how would I change that text? There is currently nothing that can help people learn to how make that sort of modification, I would highly appreciate it if you showed in the wiki (potentially with examples) how to change the more int

[2019-12-24 10:07] GitSquared commented on #663
Hi Paul,

Glad you're interested in this! The `injectCSS` property in themes is a very powerful feature that serves as a placeholder for more accessible customization settings (like custom modules and UI layouts) that should be released at some point in the future.

**Injecting style rules is hacking.** You're adding your own extra sauce on top of the source code. You need to override previous sty

[2019-12-24 10:07] #663 closed

[2019-12-30 07:52] RHQ-Rusty commented on #628
Hey!
I'm getting similar issues all over the place. I was actually about to start another issue when I saw this in the recommended area. The build for windows is extremely inconsistent. If I'm going to build per TravisCI's config, do I run all of those commands, in order, via elevated CMD in the root build directory?

My issues are as follows:
[The Original Console Error](https://pastebin.com/6NHC

[2019-12-30 08:09] RHQ-Rusty commented on #628
Update: Following TravisCI's instruction's I've gotten this far:

[Me Running NPM Install - successful - and running the Electron Build - failing](https://pastebin.com/V0WzwfNN) - Shows the Errors from Electron Build
[Electron Build Error Log](https://pastebin.com/e2DgND6h) - Linked from the previous error on Electron Build

As you can see, I'm still receiving errors out the wazoo, but at least ma

[2019-12-30 10:21] GitSquared commented on #628
@RHQ-Rusty Since you're building edex v2.2.2, try using node 8 instead of 12.

[2019-12-30 14:59] RHQ-Rusty commented on #628
[Link to New Errors]() - These are the errors shown. I uninstalled Node.js 12.14.0, re-installed Node.js 8.17.0 and ran all of the build instructions. The only error I am getting now is during the final run of the electron builder.

[2019-12-30 15:42] GitSquared commented on #628
I'm not sure why it's trying to fetch arm libs... perhaps something in your ENV is messing up with the arch detection of electron-rebuild. You're not actually on arm, are you?

Regardless, why are you trying to build v2? Prebuilt binaries are available for released versions, [including for windows](https://github.com/GitSquared/edex-ui/releases/download/v2.2.2/eDEX-UI.Windows.Installer.exe).

Also

[2019-12-30 16:47] RHQ-Rusty commented on #628
Windows 10, 64-Bit, Latest Update. How can I check / fix / repair my ENV?

I'm trying to make some improvements and demo them before making the pull requests so I can see the results on my machine first.

Will do!

[2019-12-30 17:10] GitSquared commented on #628
@RHQ-Rusty If you're thinking about sending a PR, you should build and diff against the latest master (v3.0.0-pre). It's currently >100 commits changed since v2.2.2 so I won't be able to accept PRs against v2.

Building the dev version can be done using node 12. You'll need to clone the repo.

[2019-12-30 20:51] RHQ-Rusty commented on #628
@GitSquared If you could add me on Discord that'd be much appreciated; when I was getting errors originally it was on Node.js 12.14.0 and with the pre-3.0.0 (raw master branch) build of sourcecode, same shit that happened before is happening again. I'm tempted to instantiate my own TravisCI for implementing builds for my edits and changes until I can see the desired results.

[2019-12-31 10:20] GitSquared opened #664 "MaxMind EULA update is breaking builds & installs accross all platforms"
## Technical information
**Using version:**
 - [X] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)

**Running on:**
 - [X] Linux
 - [X] Windows
 - [X] macOS

---

## Problem

Updates to MaxMind's EULA resulted in the freely accessible GeoLite databases URL being taken down (`https://geolite.maxmind.com`). We used these to fetch GeoIP databases on install through [`runk

[2019-12-31 10:20] GitSquared commented on #664
Upstream bug: https://github.com/runk/node-geolite2/issues/17

[2019-12-31 10:23] GitSquared commented on #628
@RHQ-Rusty You didn't tell me you tried to build v3 first. All the logs you sent were v2 logs.

You won't be able to do anything since #664 popped up though. I'm fixing this one and I'll get back to you.

[2019-12-31 19:41] RHQ-Rusty commented on #628
@GitSquared If I build it with 2.2.2 on Node.js v8.17 through the Node.js Command Prompt, do you think it would work? I've been doing it in the Windows default terminal the entire time; it's a possibility this is what was causing my path/environment issues.

[2019-12-31 23:01] RHQ-Rusty commented on #628
Take your time man, worry about that issue. I've resolved my problems.

**FIX:** This was my issue. The entire time, I should've been running this through the Node.js terminal.

[2020-01-01 06:31] thecakeisalie25 commented on #664
Could we just issue a hotfix with no globe? It's been unable to build for a few months now iirc. (i'm typecasto from aur btw)

[2020-01-01 11:37] GitSquared commented on #664
No, we should fix the issue upstream asap. Builds were working 72h ago, you might have been experiencing a different issue before this one.

[2020-01-02 11:30] GitSquared commented on #664
Quick update: `node-geolite2` got a new release that requires each individual `npm install`-ing it to sign up on MaxMind's website and agree to a lengthy EULA.

I believe this would scare most new contributors away from open-source projects like eDEX, and doesn't add much value to MaxMind's efforts to limit propagation of older versions of their databases.

I'm looking into setting up a redistribu

[2020-01-04 04:20] 6iix opened #665 "WIndows 10 network tab"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [x] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [x] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

I

[2020-01-04 09:20] GitSquared commented on #665
You can select which network interface to monitor in the settings (ctrl+shift+s).

[2020-01-04 09:20] #665 closed

[2020-01-04 19:40] GitSquared commented on #664
Work ongoing upstream at https://github.com/runk/node-geolite2/pull/19

[2020-01-05 10:27] jakewilliami opened #666 "npm errors after running`makepkg` for edex-ui from AUR"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [x] I know what'

[2020-01-05 10:35] GitSquared commented on #666
Is that the full log? Do you have `rsync` installed?

[2020-01-05 10:44] jakewilliami commented on #666
I do beleive it is the full log.  When I run `makepkg` and it fails, it tells me that the log can be found at `/home/jakeireland/.npm/_logs/2020-01-05T10_41_48_458Z-debug.log`, so that log I put on pastebin is just a copy of that file.  There is also a file named `edex-ui-2.2.2-1-x86_64-build.log` in the edex-ui directory, whose contents I have put [here](https://pastebin.com/LV9U30zA).  Are these

[2020-01-05 11:22] GitSquared commented on #666
Thanks, the full output contains more info.
eDEX v2 can't be built on node 10+, you should try with node 8.

You might be blocked by #664 later on in the make process, though. You'll have to either wait until this is sorted out or try a prebuilt AppImage.

[2020-01-05 18:22] jakewilliami commented on #666
Thanks for this.

I managed this by installing Node Version Manager ([nvm](https://github.com/nvm-sh/nvm)):

[code]

[2020-01-05 18:22] #666 closed

[2020-01-17 15:21] poslat-pismo opened #674 "Change directory synchronous in terminal and file manager"
Please make an option to synchronously cd in terminal when user change directory in FM and vice versa when you cd in the shell file manager shoud open current folder automaticly.
Thanx for the great work!

[2020-01-17 15:25] GitSquared commented on #674
This is already how its working on Linux/macOS. Currently impossible to do this efficiently on Windows.

[2020-01-17 15:25] #674 closed

[2020-01-22 20:42] GitSquared commented on #664
[`geolite2-redist`](https://www.npmjs.com/package/geolite2-redist) published

[2020-01-22 20:57] #664 closed

[2020-02-13 06:02] Muaaz-Farooq opened #690 "Show offline"
while connected to internet this show offline in windows 10

[2020-02-13 06:13] Muaaz-Farooq commented on #690
disable other adapters only enable through which you access internet then this will show online

[2020-02-13 06:13] #690 closed

[2020-02-13 06:19] GitSquared commented on #690
You can also change the adapter monitored by edex in the settings (ctrl+shift+s)

[2020-02-16 17:40] KaKi87 opened #691 "Save app volume"
**Perceived idea awesomeness**
- [x] Wow, you don't have this yet???
- [ ] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [x] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

H

[2020-02-17 16:22] Zewwy commented on #612
Thank you GitSquared! This was exactly what I wanted so I can have eDEX-ui open on my secondary screen and play games on my primary. :) Great job.

[2020-02-22 14:44] GitSquared commented on #691
I will look into this. Thanks for filling a report!

[2020-02-22 15:01] #691 closed

[2020-02-28 00:21] MrPeterJin opened #697 "UI crash after start up for few seconds (Manjaro Linux 5.5.2-1)"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [x] I'm kind of lost, honestly
 - [ ] I know what'

[2020-02-28 07:58] GitSquared commented on #697
Could you try this [appImage build from master](https://send.firefox.com/download/5fccca1fe25551fb/#aD1Qvnk4UdtESz9P87lbrw) and if it doesn't work tell me your hardware specs? (ram, cpu, gpu)

[2020-02-28 12:50] MrPeterJin commented on #697
cool, it works!

[2020-02-28 14:47] 2403772980ygy opened #698 "Does edex-ui work with powershell core?"
FS: windows 10

I changed the settings.json "shell" value to my PowerShell core, and edex-ui stopped working and changing it back fixes the issue, I don't know why, so does edex-ui works with PowerShell core?

[2020-02-28 14:54] 2403772980ygy opened #699 "Show "shell not found" when targeting an invalid shell"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [ ] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [x] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [x] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

(

[2020-02-28 16:07] #697 closed

[2020-02-28 16:11] GitSquared commented on #698
I haven't tested PowerShell Core so I'm not sure what's causing the crash. In theory any CLI shell should work.

Perhaps you are not using the right
binary (i.e graphical term emulator instead of the shell itself)?

Could you give me some logs? Try starting edex from a command line to get stdout output.

[2020-02-28 16:12] GitSquared commented on #699
I don't have a list of supported shells so this isn't possible. In theory any shell should work.

[2020-02-28 16:12] #699 closed

[2020-02-29 00:33] 2403772980ygy commented on #698
okay, here's the output
[code]

I guess the warning is the error, and I'll test if PowerShell.exe has the same warning.

[2020-02-29 00:43] 2403772980ygy commented on #698
The powershell.exe is don't have the promise warning.

[2020-02-29 23:13] GitSquared commented on #698
From the [Windows system error codes docs](https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--0-499-), 267 is "invalid directory". Could you share the edex settings.json so I can see the shell path you've set up?

[2020-02-29 23:55] 2403772980ygy commented on #698
[code]

Powershell Core installed in default location

[2020-03-03 11:19] SonOfDiablo commented on #698
I just downloaded and tried out eDex-UI, first thing I did was switch the shell to Powershell Core (v6.2.4) install path is `C:\Program Files\PowerShell\6\pwsh.exe` and it worked fine for me.
However I just put `pwsh.exe` in the `shell` variable as `pwsh.exe` is in my path.

Would that fix your issue @2403772980ygy ? simply make sure `pwsh.exe` is in your path and specify just the exe in the `shel

[2020-03-03 11:21] 2403772980ygy commented on #698
@SonOfDiablo It worked for me, Thanks!

[2020-03-03 11:21] #698 closed

[2020-03-03 11:24] 2403772980ygy commented on #698
The conclusion is that try pwsh.exe instead of path\to\pwsh.exe.

[2020-03-03 11:40] GitSquared commented on #698
@SonOfDiablo Thanks for your help.

[2020-03-03 11:57] SonOfDiablo commented on #698
Happy to help.
Though there does seem to be an issue, specifically when providing a path that contains a space.
When replacing the `shell` variable with `C:\\Program Files\\PowerShell\\6\\pwsh.exe` I get the following error message: `(node:40144) UnhandledPromiseRejectionWarning: Error: File not found: C:\Program`

<details>
<summary>Full Output</summary>

[code]

</details>

Might be something th

[2020-03-03 11:59] 2403772980ygy commented on #698
yeah, If some shell isn't inside PATH variable, then it'll be bad if we can't use it.

I'll test git bash later

[2020-03-03 12:07] GitSquared commented on #698
I think handling of spaces has been fixed on master already - I'm trying to find the commit.

[2020-03-03 12:10] 2403772980ygy commented on #698
No, git bash has no space in the path but still got the same warning and don't start, Maybe this is related to impropriate path handling?

[2020-03-03 12:19] GitSquared commented on #698
Is this on v3 or v2 of edex?

[2020-03-03 23:58] 2403772980ygy commented on #698
It seems to be v2.2.2

[2020-03-07 09:59] jzellis opened #702 "Got edex-ui working on Raspberry Pi 4 running 64bit Ubuntu 19.10"
I really, really wanted to get Edex working on my old Raspberry Pi 3B with the touchscreen, but alas, I could never hack it to work properly. But it works on 64 bit Ubuntu 18.04 and 19.10 on the Pi 4 perfectly!

The only thing I had to do was replace `x64` with `aarch64` everywhere in package.json. Then I just ran the install script for Linux and it worked perfectly out of the gate! No build requi

[2020-03-08 07:00] tuxkernel opened #703 "Integrate hacker manifesto text and u*nix commands as show in Matrix movie's"
This is amazing!

Some year ago I type some bash scripts like screensaver text. Could you integrate into edex-ui?

Check a look around:

https://github.com/tuxkernel/hacker-manifesto-bash-script
https://github.com/tuxkernel/matrix-bash-script

Could be cool!

Cheers,

Tuxkrnel

[2020-03-08 08:45] GitSquared commented on #703
You can just launch those scripts in edex, no need to integrate them into the program itself...

[2020-03-08 09:06] GitSquared commented on #702
Thanks for sharing this!

Some reflections:

- You could use a custom theme (with CSS injections - see wiki) to resize the different elements so that the keyboard is usable.
- Building the app instead of just running from source *should* give you better performance as everything gets optimized in the process.
- If you want to try to further reduce CPU impact, you could dive into `src/` and:
  - Lo

[2020-03-08 10:20] #703 closed

[2020-03-18 14:09] zenkbaries opened #710 "SyntaxError: Unexpected token '}'"
## Technical information
**Using version:**
 `master` (running from GitHub-published source code, currently `v3.0.0-pre`)

**Running on:**
 macOS

**How comfortable you are with your system and/or IT in general:**

 My machine is fully under my control, tell me what you need

---

## Problem

When I click on one of the file in filesystem section (lower left), it show error `Syntax Error: Unexpecte

[2020-03-18 15:59] #702 closed

[2020-03-23 13:44] #710 closed

[2020-03-23 13:45] GitSquared commented on #710
Fixed, thanks for reporting!

[2020-03-29 07:02] PrashanthKumar0 opened #711 "how did you made this ?! react native ?!"
how did you made this ?! react native ?!

[2020-03-29 08:11] GitSquared commented on #711
I wish I ever got to finish #272.
There is no other framework than Electron, eDEX uses a bastardization of components made with JS classes and setInterval timers.

I wish I knew React when I first started this! It's a pain to maintain and would need a full rewrite some day, which I unfortunately do not have time for as I'm working on bigger projects now.

[2020-04-03 05:03] ccase01 opened #712 "Goes black after some time."
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x ] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [x ] I know wh

[2020-04-03 05:04] ccase01 commented on #712
UPDATE.  Doesnt matter what is running htop or nothing...still goes dark.

[2020-04-03 06:19] GitSquared commented on #712
You should try using the development version (3.0-pre)

[2020-04-22 21:41] #712 closed

[2020-04-22 21:41] #711 closed

[2020-04-25 07:33] dopetik opened #713 "wrong colors when running inside screen"
## Technical information
**Using version:**
 - [X] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)

**Running on:**
 - [X] Linux (Linux version 4.19.0-8-amd64 (debian-kernel@lists.debian.org) (gcc version 8.3.0 (Debian 8.3.0-6)) #1 SMP Debian 4.19.98-1 (2020-01-26))

 - [X] My machine is fully under my control, tell me what you need

## Problem

Wrong colors when runni

[2020-04-25 07:38] #713 closed

[2020-04-25 07:39] dopetik commented on #713
not posted in the right repo ... my bad !

[2020-05-02 13:12] masivi commented on #469
Any news about this?
Thank's anyway!

[2020-05-04 09:21] GitSquared commented on #469
Unfortunately not. I've tried a few times to fix this but couldn't find anything.

[2020-05-06 16:47] KaKi87 opened #714 "[Bug] Terminal tabs not reusable"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [ ] Linux
 - [x] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2020-05-10 14:45] Web-Digger-Nuzrat opened #715 "uncaught type error : failed to execute 'attach shader' on 'webglrenderingcontext' :parameter 2 is not of type 'webglshader'. on kali linux"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [x] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2020-05-20 15:42] captainGeech42 opened #716 "Fails to build on Arch using AUR package"
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [ ] I'm kind of lost, honestly
 - [ ] I know what'

[2020-05-20 15:46] GitSquared commented on #716
You should try the `-git` AUR package, it uses a way more recent version of Electron which might work.

[2020-05-20 15:53] captainGeech42 commented on #716
Great thanks, I'll try that

[2020-05-20 15:57] captainGeech42 commented on #716
Got a similar error unfortunately

[code]

Log attached.

[2020-05-20T15_55_12_547Z-debug.log](https://github.com/GitSquared/edex-ui/files/4657951/2020-05-20T15_55_12_547Z-debug.log)

[2020-05-20 16:13] GitSquared commented on #716
Is the `en_US` utf-8 locale generated and installed on your system? Check that it is uncommented in `/etc/locale.gen`. If it isn't, uncomment it and run `sudo locale-gen`.

[2020-05-20 16:17] captainGeech42 commented on #716
Yes it is. I saw that in the log as well and was confused by that.

I went ahead and reran `locale-gen` and tried to install `edex-ui-git`, failed (same error).

[2020-05-20 16:20] GitSquared commented on #716
Try running `export CC=gcc CXX=clang` before the install. If that doesn't work i'm going to need your `uname -a`.

[2020-05-20 16:30] captainGeech42 commented on #716
Failed with the same error when exporting those vars and installing `edex-ui-git`.

`uname -a`:
[code]

[2020-05-20 16:40] GitSquared commented on #716
I'm starting to run out of ideas. Perhaps try upgrading your node version to v12..?

[2020-05-20 18:20] captainGeech42 commented on #716
Oh yeah, that old version was from the LTS node dependency on `edex-ui` AUR package.

I upgraded to `nodejs` and still got the same error.

[2020-05-22 20:26] call-cc opened #717 "Don't show password"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [X] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [X] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

H

[2020-05-22 22:05] GitSquared commented on #717
See discussion in #394

[2020-05-22 22:16] GitSquared commented on #717
tl;dr: we don't have enough data from the terminal to trigger this automatically. You can use the ctrl+shift+p shortcut to disable input feedback when typing sensitive information.

[2020-05-22 22:17] #717 closed

[2020-05-22 22:17] call-cc commented on #717
Thanks!

[2020-05-23 16:35] master-0098 opened #718 "Having issue at moving UI to another monitor on windows"
hey bro ,
i got some difficulty from moving the app to another monitor while I'm running dual monitor setup , i want use this UI on my second monitor , but i couldn't find any option for that
i try to change my main monitor to second monitor, but after reconnecting my second monitor, it moves to first monitor with the size of second monitor , still can't move it
i run pc , and win10 version 1909 b

[2020-05-23 16:44] GitSquared commented on #718
Check the [wiki](https://github.com/GitSquared/edex-ui/wiki/settings.json), there is a `monitor` option to control where the renderer is spawned.

[2020-05-24 09:10] master-0098 commented on #718
Thank for Helping me, i have another question , also a bug i guess
my questions are , 1- is this possible to add Graphic usage?
2-is this possible to change PS or File System  default location ?(for example start at Desktop)
or shell start at specific driver
* and the bug or glitch, don't know how to call it , but after you typing something in shell, and try to clear it with command cls , it goes

[2020-05-24 11:03] GitSquared commented on #718
I don't work on this projet much anymore so its unlikely that i'll add a gpu usage monitor (also there pretty much is no space left on the screen rn).

To change the default location use the `cwd` option.

The glitch is interesting, i think it comes from how windows handles clearing the terminal (spoiler: not very well.) I'll look into it, thanks for reporting!

[2020-05-25 08:41] #718 closed

[2020-05-27 05:57] yuvalabou opened #719 "Can't clone repo."
## Technical information
**Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [ ] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

**Running on:**
 - [x] Linux
 - [ ] Windows
 - [ ] macOS

**How comfortable you are with your system and/or IT in general:**
 - [x] I'm kind of lost, honestly
 - [ ] I know what'

[2020-05-27 07:37] GitSquared commented on #719
Could you give the output of:
- `uname -a`
- `git --version --build-options` ?

[2020-05-27 09:23] yuvalabou commented on #719
uname -a =
Linux kali 5.4.0-kali3-amd64 #1 SMP Debian 5.4.13-1kali1 (2020-01-20) x86_64 GNU/Linux

git =
git version 2.24.1
cpu: x86_64
no commit associated with this build
sizeof-long: 8
sizeof-size_t: 8

[2020-05-28 18:09] CrazyPython opened #720 "Make the globe map work with actual data"
**Perceived idea awesomeness**
- [ ] Wow, you don't have this yet???
- [x] Would be super cool.
- [ ] I'm not sure a lot of people would use it, but I'd love to have it.
- [ ] Kind of a gadget, honestly, but why not?

**Perceived idea difficulty**
- [ ] Quit your job first.
- [ ] Would need some work, but nothing impossible.
- [ ] Shouldn't be too hard to make.
- [ ] Like, *I* could do it.

---

T

[2020-05-28 19:18] GitSquared commented on #720
The globe _*does*_ work with actual data (GeoIP and active sockets).
The idea of monitoring log files was previously explored but it turned out too complex (in the context of a cross-platform & unprivileged app). Remote log files? That's going to be tricky.

[2020-06-05 03:22] Xeddius opened #721 "[feature request] Sixel support!"
https://github.com/saitoha/libsixel

Most terminal applications already support sixels, I think it'd be a great addition to edex-ui! It can even be used to load graphical applications inside of the terminal.

[2020-06-05 08:45] GitSquared commented on #721
We completely rely on [xtermjs/xterm.js](https://github.com/xtermjs/xterm.js), the same terminal frontend that is used by Microsoft's VS Code, to render the terminal in edex.
I've looked around and indeed they seem not to support it. You should open an issue there!

[2020-06-05 08:46] #720 closed

[2020-06-07 22:05] Death916 opened #722 "Cant open firefox while edex is running"
Anytime i open firefox while edex is running firefox locks up and wont fully open. I haven't been able to find a way around thiis. IM using newest firefox version on windows 10

Technical information
Using version:**
 - [ ] `master` (running from GitHub-published source code, currently `v3.0.0-pre`)
 - [ x] `latest` (latest release, currently `v2.2.2`)
 - [ ] `vX.X.X` (specify other version)

Runn